<div class='progress-msg'>Mon, 24 Feb 2020 07:25:57 +0000</div>
<div class='progress-msg'>[07:25:57] Composing titles...</div>
<div class='progress-msg'>[07:25:57] Composing excerpts...</div>
<div class='progress-msg'>[07:25:57] Composing duplicate indicators...</div>
<div class='progress-msg'>[07:25:57] Composing authors...</div>
<div class='progress-msg'>[07:25:57] Composing slugs...</div>
<div class='progress-msg'>[07:25:57] Composing menu order...</div>
<div class='progress-msg'>[07:25:57] Composing contents...</div>
<div class='progress-msg'>[07:25:57] Composing dates...</div>
<div class='progress-msg'>[07:25:57] Composing custom parameters...</div>
<div class='progress-msg'>[07:25:57] Composing URLs for images...</div>
<div class='progress-msg'>[07:25:57] Composing URLs for attachments files...</div>
<div class='progress-msg'>[07:25:57] Composing unique keys...</div>
<div class='progress-msg'>[07:25:57] Processing posts...</div>
<div class='progress-msg'>[07:25:57] Data parsing via add-ons...</div>
<div class='progress-msg'>[07:25:57] Composing advanced custom fields...</div>
<div class='progress-msg'>[07:25:57] ---</div>
<div class='progress-msg'>[07:25:57] Record #1</div>
<div class='progress-msg'>[07:25:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[07:25:57] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[07:25:57] Combine all data for post ``...</div>
<div class='progress-msg'>[07:25:57] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[07:25:57] Duplicate post wasn't found with unique key `324`...</div>
<div class='progress-msg'>[07:25:57] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[07:25:57] <b>CREATING</b> `` `Teams`</div>
<div class='progress-msg'>[07:25:57] Associate post `` with current import ...</div>
<div class='progress-msg'>[07:25:57] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[07:25:57] - Importing field `trial_information`</div>
<div class='progress-msg'>[07:25:57] - Importing field `year`</div>
<div class='progress-msg'>[07:25:57] - Importing field `sport`</div>
<div class='progress-msg'>[07:25:57] - Importing field `age`</div>
<div class='progress-msg'>[07:25:57] - Importing field `gender`</div>
<div class='progress-msg'>[07:25:57] - Importing field `date_birth_restriction_from`</div>
<div class='progress-msg'>[07:25:57] - Importing field `date_birth_restriction_to`</div>
<div class='progress-msg'>[07:25:57] - Importing field `date_of_trial`</div>
<div class='progress-msg'>[07:25:57] - Importing field `eligibility`</div>
<div class='progress-msg'>[07:25:57] - Importing field `championship_date`</div>
<div class='progress-msg'>[07:25:57] - Importing field `championship_venue`</div>
<div class='progress-msg'>[07:25:57] - Importing field `product_set`</div>
<div class='progress-msg'>[07:25:57] - Importing field `venue`</div>
<div class='progress-msg'>[07:25:57] - Importing field ``</div>
<div class='progress-msg'>[07:25:57] - Importing field `prod_sets`</div>
<div class='progress-msg'>[07:25:57] - Importing field ``</div>
<div class='progress-msg'>[07:25:57] - Importing field `students`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_payment_initial`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_payment_transaction`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_student`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_playing_history`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_representative_experience`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_prefered_position`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_approval_status`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_selection_status`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_print_consent`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_image_consent`</div>
<div class='progress-msg'>[07:25:57] - Importing field `students_0_recorded_consent`</div>
<div class='progress-msg'>[07:25:57] - Importing field `payments`</div>
<div class='progress-msg'>[07:25:57] - Importing field `fees`</div>
<div class='progress-msg'>[07:25:57] - Importing field ``</div>
<div class='progress-msg'>[07:25:57] - Importing field `results_content`</div>
<div class='progress-msg'>[07:25:57] - Importing field `result_attachments`</div>
<div class='progress-msg'>[07:25:57] - Importing field `event_photos`</div>
<div class='progress-msg'>[07:25:57] <b>IMAGES:</b></div>
<div class='progress-msg'>[07:25:57] <b>CREATED</b> `` `Teams` (ID: 1307)</div>
<div class='progress-msg'>[07:25:57] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[07:25:57] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[07:25:57] Cleaning temporary data...</div>
