<div class='progress-msg'>Sat, 04 Jan 2020 02:45:21 +0000</div>
<div class='progress-msg'>[02:45:21] Composing titles...</div>
<div class='progress-msg'>[02:45:21] Composing excerpts...</div>
<div class='progress-msg'>[02:45:21] Composing duplicate indicators...</div>
<div class='progress-msg'>[02:45:21] Composing authors...</div>
<div class='progress-msg'>[02:45:21] Composing slugs...</div>
<div class='progress-msg'>[02:45:21] Composing menu order...</div>
<div class='progress-msg'>[02:45:21] Composing contents...</div>
<div class='progress-msg'>[02:45:21] Composing dates...</div>
<div class='progress-msg'>[02:45:21] Composing custom parameters...</div>
<div class='progress-msg'>[02:45:21] Composing URLs for images...</div>
<div class='progress-msg'>[02:45:21] Composing URLs for attachments files...</div>
<div class='progress-msg'>[02:45:21] Composing unique keys...</div>
<div class='progress-msg'>[02:45:21] Processing posts...</div>
<div class='progress-msg'>[02:45:21] Data parsing via add-ons...</div>
<div class='progress-msg'>[02:45:21] Composing advanced custom fields...</div>
<div class='progress-msg'>[02:45:21] ---</div>
<div class='progress-msg'>[02:45:21] Record #1</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:21] Combine all data for post `ACT 17&U Baseball`...</div>
<div class='progress-msg'>[02:45:21] Find corresponding article among previously imported for post `ACT 17&U Baseball`...</div>
<div class='progress-msg'>[02:45:21] Duplicate post wasn't found with unique key `1`...</div>
<div class='progress-msg'>[02:45:21] Applying filter `pmxi_article_data` for `ACT 17&U Baseball`</div>
<div class='progress-msg'>[02:45:21] <b>CREATING</b> `ACT 17&U Baseball` `Products Sets`</div>
<div class='progress-msg'>[02:45:21] Associate post `ACT 17&U Baseball` with current import ...</div>
<div class='progress-msg'>[02:45:21] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:21] - Importing field `description`</div>
<div class='progress-msg'>[02:45:21] - Importing field `products`</div>
<div class='progress-msg'>[02:45:21] - Importing field `active`</div>
<div class='progress-msg'>[02:45:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:21] <b>CREATED</b> `ACT 17&U Baseball` `Products Sets` (ID: 770)</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:21] ---</div>
<div class='progress-msg'>[02:45:21] Record #2</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:21] Combine all data for post `SSACT Compulsory & Optional  Uniform`...</div>
<div class='progress-msg'>[02:45:21] Find corresponding article among previously imported for post `SSACT Compulsory & Optional  Uniform`...</div>
<div class='progress-msg'>[02:45:21] Duplicate post wasn't found with unique key `2`...</div>
<div class='progress-msg'>[02:45:21] Applying filter `pmxi_article_data` for `SSACT Compulsory & Optional  Uniform`</div>
<div class='progress-msg'>[02:45:21] <b>CREATING</b> `SSACT Compulsory & Optional  Uniform` `Products Sets`</div>
<div class='progress-msg'>[02:45:21] Associate post `SSACT Compulsory & Optional  Uniform` with current import ...</div>
<div class='progress-msg'>[02:45:21] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:21] - Importing field `description`</div>
<div class='progress-msg'>[02:45:21] - Importing field `products`</div>
<div class='progress-msg'>[02:45:21] - Importing field `active`</div>
<div class='progress-msg'>[02:45:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:21] <b>CREATED</b> `SSACT Compulsory & Optional  Uniform` `Products Sets` (ID: 771)</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:21] ---</div>
<div class='progress-msg'>[02:45:21] Record #3</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:21] Combine all data for post `SSACT optional uniform items`...</div>
<div class='progress-msg'>[02:45:21] Find corresponding article among previously imported for post `SSACT optional uniform items`...</div>
<div class='progress-msg'>[02:45:21] Duplicate post wasn't found with unique key `3`...</div>
<div class='progress-msg'>[02:45:21] Applying filter `pmxi_article_data` for `SSACT optional uniform items`</div>
<div class='progress-msg'>[02:45:21] <b>CREATING</b> `SSACT optional uniform items` `Products Sets`</div>
<div class='progress-msg'>[02:45:21] Associate post `SSACT optional uniform items` with current import ...</div>
<div class='progress-msg'>[02:45:21] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:21] - Importing field `description`</div>
<div class='progress-msg'>[02:45:21] - Importing field `products`</div>
<div class='progress-msg'>[02:45:21] - Importing field `active`</div>
<div class='progress-msg'>[02:45:21] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:21] <b>CREATED</b> `SSACT optional uniform items` `Products Sets` (ID: 772)</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:21] ---</div>
<div class='progress-msg'>[02:45:21] Record #4</div>
<div class='progress-msg'>[02:45:21] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:21] Combine all data for post `ACT Netball`...</div>
<div class='progress-msg'>[02:45:21] Find corresponding article among previously imported for post `ACT Netball`...</div>
<div class='progress-msg'>[02:45:21] Duplicate post wasn't found with unique key `4`...</div>
<div class='progress-msg'>[02:45:21] Applying filter `pmxi_article_data` for `ACT Netball`</div>
<div class='progress-msg'>[02:45:21] <b>CREATING</b> `ACT Netball` `Products Sets`</div>
<div class='progress-msg'>[02:45:21] Associate post `ACT Netball` with current import ...</div>
<div class='progress-msg'>[02:45:21] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Netball` `Products Sets` (ID: 773)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #5</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `SSACT  AFL 2019`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `SSACT  AFL 2019`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `5`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `SSACT  AFL 2019`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `SSACT  AFL 2019` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `SSACT  AFL 2019` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `SSACT  AFL 2019` `Products Sets` (ID: 774)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #6</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `6`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT 16&U Boys Hockey` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT 16&U Boys Hockey` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT 16&U Boys Hockey` `Products Sets` (ID: 775)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #7</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT 12&U Boys Hockey`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT 12&U Boys Hockey`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `7`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT 12&U Boys Hockey`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT 12&U Boys Hockey` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT 12&U Boys Hockey` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT 12&U Boys Hockey` `Products Sets` (ID: 776)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #8</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT 12&U Girls Hockey`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT 12&U Girls Hockey`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `8`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT 12&U Girls Hockey`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT 12&U Girls Hockey` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT 12&U Girls Hockey` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT 12&U Girls Hockey` `Products Sets` (ID: 777)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #9</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT 16&U Girls Hockey 2019`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT 16&U Girls Hockey 2019`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `9`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT 16&U Girls Hockey 2019`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT 16&U Girls Hockey 2019` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT 16&U Girls Hockey 2019` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT 16&U Girls Hockey 2019` `Products Sets` (ID: 778)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #10</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `SSACT Rugby League`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `SSACT Rugby League`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `10`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `SSACT Rugby League`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `SSACT Rugby League` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `SSACT Rugby League` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `SSACT Rugby League` `Products Sets` (ID: 779)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #11</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT Boys Basketball`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT Boys Basketball`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `11`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT Boys Basketball`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT Boys Basketball` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT Boys Basketball` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Boys Basketball` `Products Sets` (ID: 780)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #12</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT Girls Basketball`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT Girls Basketball`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `12`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT Girls Basketball`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT Girls Basketball` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT Girls Basketball` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Girls Basketball` `Products Sets` (ID: 781)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #13</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT Golf`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT Golf`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `13`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT Golf`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT Golf` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT Golf` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Golf` `Products Sets` (ID: 782)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #14</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT 12&U Boys Football`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT 12&U Boys Football`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `14`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT 12&U Boys Football`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT 12&U Boys Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT 12&U Boys Football` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT 12&U Boys Football` `Products Sets` (ID: 783)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #15</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT Girls Volleyball`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT Girls Volleyball`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `15`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT Girls Volleyball`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT Girls Volleyball` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT Girls Volleyball` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Girls Volleyball` `Products Sets` (ID: 784)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #16</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT Boys Volleyball`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT Boys Volleyball`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `16`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT Boys Volleyball`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT Boys Volleyball` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT Boys Volleyball` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Boys Volleyball` `Products Sets` (ID: 785)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #17</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `Cross Country and Track and Field`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `Cross Country and Track and Field`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `17`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `Cross Country and Track and Field`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `Cross Country and Track and Field` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `Cross Country and Track and Field` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `Cross Country and Track and Field` `Products Sets` (ID: 786)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #18</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT 19&U Football`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT 19&U Football`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `18`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT 19&U Football`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT 19&U Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT 19&U Football` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT 19&U Football` `Products Sets` (ID: 787)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #19</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `ACT Swimming`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `ACT Swimming`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `19`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `ACT Swimming`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `ACT Swimming` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `ACT Swimming` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `ACT Swimming` `Products Sets` (ID: 788)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:22] ---</div>
<div class='progress-msg'>[02:45:22] Record #20</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:22] Combine all data for post `Orienteering`...</div>
<div class='progress-msg'>[02:45:22] Find corresponding article among previously imported for post `Orienteering`...</div>
<div class='progress-msg'>[02:45:22] Duplicate post wasn't found with unique key `20`...</div>
<div class='progress-msg'>[02:45:22] Applying filter `pmxi_article_data` for `Orienteering`</div>
<div class='progress-msg'>[02:45:22] <b>CREATING</b> `Orienteering` `Products Sets`</div>
<div class='progress-msg'>[02:45:22] Associate post `Orienteering` with current import ...</div>
<div class='progress-msg'>[02:45:22] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:22] - Importing field `description`</div>
<div class='progress-msg'>[02:45:22] - Importing field `products`</div>
<div class='progress-msg'>[02:45:22] - Importing field `active`</div>
<div class='progress-msg'>[02:45:22] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:22] <b>CREATED</b> `Orienteering` `Products Sets` (ID: 789)</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:22] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #21</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Girls Touch Football`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Girls Touch Football`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `21`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Girls Touch Football`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Girls Touch Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Girls Touch Football` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Girls Touch Football` `Products Sets` (ID: 790)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #22</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Boys Touch Football`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Boys Touch Football`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `22`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Boys Touch Football`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Boys Touch Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Boys Touch Football` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Boys Touch Football` `Products Sets` (ID: 791)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #23</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Tennis`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Tennis`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `23`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Tennis`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Tennis` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Tennis` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Tennis` `Products Sets` (ID: 792)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #24</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 12&U Track & Field`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 12&U Track & Field`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `24`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 12&U Track & Field`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 12&U Track & Field` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 12&U Track & Field` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 12&U Track & Field` `Products Sets` (ID: 793)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #25</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Softball`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Softball`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `25`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Softball`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Softball` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Softball` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Softball` `Products Sets` (ID: 794)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #26</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 12&U Boys Cricket`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 12&U Boys Cricket`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `26`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 12&U Boys Cricket`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 12&U Boys Cricket` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 12&U Boys Cricket` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 12&U Boys Cricket` `Products Sets` (ID: 795)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #27</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 12&U Girls Cricket`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 12&U Girls Cricket`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `27`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 12&U Girls Cricket`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 12&U Girls Cricket` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 12&U Girls Cricket` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 12&U Girls Cricket` `Products Sets` (ID: 796)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #28</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Baseball`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Baseball`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `28`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Baseball`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Baseball` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Baseball` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Baseball` `Products Sets` (ID: 797)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #29</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 15&U Cricket`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 15&U Cricket`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `29`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 15&U Cricket`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 15&U Cricket` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 15&U Cricket` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 15&U Cricket` `Products Sets` (ID: 798)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #30</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT AFL 2017`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT AFL 2017`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `30`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT AFL 2017`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT AFL 2017` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT AFL 2017` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT AFL 2017` `Products Sets` (ID: 799)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #31</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 15&U Cricket 2017`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 15&U Cricket 2017`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `31`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 15&U Cricket 2017`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 15&U Cricket 2017` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 15&U Cricket 2017` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 15&U Cricket 2017` `Products Sets` (ID: 800)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #32</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 19&U Triathlon 2017`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 19&U Triathlon 2017`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `32`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 19&U Triathlon 2017`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 19&U Triathlon 2017` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 19&U Triathlon 2017` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 19&U Triathlon 2017` `Products Sets` (ID: 801)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #33</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Girls Water Polo`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Girls Water Polo`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `33`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Girls Water Polo`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Girls Water Polo` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Girls Water Polo` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Girls Water Polo` `Products Sets` (ID: 802)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #34</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 16&U Boys Hockey 2019`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey 2019`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `34`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey 2019`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 16&U Boys Hockey 2019` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 16&U Boys Hockey 2019` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 16&U Boys Hockey 2019` `Products Sets` (ID: 803)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #35</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 12&U Softball 2018`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 12&U Softball 2018`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `35`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 12&U Softball 2018`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 12&U Softball 2018` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 12&U Softball 2018` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 12&U Softball 2018` `Products Sets` (ID: 804)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #36</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 12&U Girls Football`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 12&U Girls Football`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `36`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 12&U Girls Football`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 12&U Girls Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 12&U Girls Football` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 12&U Girls Football` `Products Sets` (ID: 805)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #37</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT 18&U Girls Football`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT 18&U Girls Football`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `37`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT 18&U Girls Football`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT 18&U Girls Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT 18&U Girls Football` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT 18&U Girls Football` `Products Sets` (ID: 806)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #38</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `16&U Boys Football`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `16&U Boys Football`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `38`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `16&U Boys Football`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `16&U Boys Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `16&U Boys Football` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `16&U Boys Football` `Products Sets` (ID: 807)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #39</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `ACT Cricket 2018`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `ACT Cricket 2018`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `39`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `ACT Cricket 2018`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `ACT Cricket 2018` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `ACT Cricket 2018` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `ACT Cricket 2018` `Products Sets` (ID: 808)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:23] ---</div>
<div class='progress-msg'>[02:45:23] Record #40</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:23] Combine all data for post `2018 ACT 18&U Girls Basketball`...</div>
<div class='progress-msg'>[02:45:23] Find corresponding article among previously imported for post `2018 ACT 18&U Girls Basketball`...</div>
<div class='progress-msg'>[02:45:23] Duplicate post wasn't found with unique key `40`...</div>
<div class='progress-msg'>[02:45:23] Applying filter `pmxi_article_data` for `2018 ACT 18&U Girls Basketball`</div>
<div class='progress-msg'>[02:45:23] <b>CREATING</b> `2018 ACT 18&U Girls Basketball` `Products Sets`</div>
<div class='progress-msg'>[02:45:23] Associate post `2018 ACT 18&U Girls Basketball` with current import ...</div>
<div class='progress-msg'>[02:45:23] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:23] - Importing field `description`</div>
<div class='progress-msg'>[02:45:23] - Importing field `products`</div>
<div class='progress-msg'>[02:45:23] - Importing field `active`</div>
<div class='progress-msg'>[02:45:23] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:23] <b>CREATED</b> `2018 ACT 18&U Girls Basketball` `Products Sets` (ID: 809)</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:23] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #41</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `ACT 15&U Girls Australian Football`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `ACT 15&U Girls Australian Football`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `41`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `ACT 15&U Girls Australian Football`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `ACT 15&U Girls Australian Football` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `ACT 15&U Girls Australian Football` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `ACT 15&U Girls Australian Football` `Products Sets` (ID: 810)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #42</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `ACT 15&U Boys Volleyball`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `ACT 15&U Boys Volleyball`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `42`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `ACT 15&U Boys Volleyball`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `ACT 15&U Boys Volleyball` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `ACT 15&U Boys Volleyball` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `ACT 15&U Boys Volleyball` `Products Sets` (ID: 811)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #43</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `ACT 15&U Girls Volleyball`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `ACT 15&U Girls Volleyball`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `43`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `ACT 15&U Girls Volleyball`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `ACT 15&U Girls Volleyball` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `ACT 15&U Girls Volleyball` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `ACT 15&U Girls Volleyball` `Products Sets` (ID: 812)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #44</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `2019 Lycra Volleyball Shorts`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `2019 Lycra Volleyball Shorts`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `44`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `2019 Lycra Volleyball Shorts`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `2019 Lycra Volleyball Shorts` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `2019 Lycra Volleyball Shorts` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `2019 Lycra Volleyball Shorts` `Products Sets` (ID: 813)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #45</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `ACT 16&U Lawn Bowls`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `ACT 16&U Lawn Bowls`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `45`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `ACT 16&U Lawn Bowls`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `ACT 16&U Lawn Bowls` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `ACT 16&U Lawn Bowls` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `ACT 16&U Lawn Bowls` `Products Sets` (ID: 814)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #46</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `tttt`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `tttt`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `46`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `tttt`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `tttt` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `tttt` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `tttt` `Products Sets` (ID: 815)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] ---</div>
<div class='progress-msg'>[02:45:24] Record #47</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:45:24] Combine all data for post `Test Product`...</div>
<div class='progress-msg'>[02:45:24] Find corresponding article among previously imported for post `Test Product`...</div>
<div class='progress-msg'>[02:45:24] Duplicate post wasn't found with unique key `47`...</div>
<div class='progress-msg'>[02:45:24] Applying filter `pmxi_article_data` for `Test Product`</div>
<div class='progress-msg'>[02:45:24] <b>CREATING</b> `Test Product` `Products Sets`</div>
<div class='progress-msg'>[02:45:24] Associate post `Test Product` with current import ...</div>
<div class='progress-msg'>[02:45:24] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[02:45:24] - Importing field `description`</div>
<div class='progress-msg'>[02:45:24] - Importing field `products`</div>
<div class='progress-msg'>[02:45:24] - Importing field `active`</div>
<div class='progress-msg'>[02:45:24] <b>IMAGES:</b></div>
<div class='progress-msg'>[02:45:24] <b>CREATED</b> `Test Product` `Products Sets` (ID: 816)</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[02:45:24] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[02:45:24] Cleaning temporary data...</div>
