/*Home*/
.content_page .dw_box .download_box .right_side {
	flex-direction: column;
}
.content_page .box_content .forms_box .help-block ul li{
	padding: 4px 10px;
	color:#FFF;
	background-color: #e74c3c;
	margin: 12px 0;
}
.upcoming-trials li {
	list-style: none;
	margin: 8px 0;
}
figure.wp-block-table td {
	padding: 10px;
} 
.content_page ul li {

	margin-bottom: 12px;
	line-height: 1.6em;
}
.content_page ul {
	padding-left:2rem;
}

.bc-gen {
	padding: 9px 0 9px 9px; 
	font-size: 14px;
}
.bc-gen span {
	margin: 0 5px;
}
.slick-arrow {
	height: 34px;
	position: absolute;
	top: 50%;
	z-index: 999;
	font-size: 0;
	border-radius: 20px;
	background-color:#FFF;
	border: 0;
	padding: 10px;
}
.slick-prev {
	left: 15px;
}
.slick-prev:before {
	content: '←';
	font-size: 24px;
	display: block;
	margin-top: -1px;
}

.slick-next {
	right: 15px;
}

.slick-next:before {
	content: '→';
	font-size: 24px;
	display: block;
	margin-top: -1px;
}

li.current-page-parent > a.nav-link{
	color: #000!important;
}
li.attachment {
	width: 100%;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
li.attachment p {
	margin: 0;
}
li.attachment:nth-child(odd) {
	background-color: #eceeef;
}
.sports_single_hero {
	height: auto!important;
	min-height: inherit
}
.sports_single_hero img {
	max-width: 100%;
	height: auto;
}
.sports_single_hero h1 {
	background-color: #FFF;
	padding: 5px;
	border-radius: 4px;
	display: inline-block;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}