<div class='progress-msg'>Mon, 09 Mar 2020 02:13:56 +0000</div>
<div class='progress-msg'>[02:13:56] Composing titles...</div>
<div class='progress-msg'>[02:13:57] Composing excerpts...</div>
<div class='progress-msg'>[02:13:57] Composing duplicate indicators...</div>
<div class='progress-msg'>[02:13:57] Composing slugs...</div>
<div class='progress-msg'>[02:13:57] Composing menu order...</div>
<div class='progress-msg'>[02:13:57] Composing contents...</div>
<div class='progress-msg'>[02:13:57] Composing dates...</div>
<div class='progress-msg'>[02:13:57] Composing custom parameters...</div>
<div class='progress-msg'>[02:13:57] Composing URLs for attachments files...</div>
<div class='progress-msg'>[02:13:57] Composing unique keys...</div>
<div class='progress-msg'>[02:13:57] Processing posts...</div>
<div class='progress-msg'>[02:13:57] Data parsing via add-ons...</div>
<div class='progress-msg'>[02:13:57] Composing advanced custom fields...</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #1</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #2</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #3</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #4</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #5</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #6</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #7</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #8</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #9</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #10</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #11</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #12</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #13</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #14</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #15</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #16</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #17</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #18</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #19</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:13:57] ---</div>
<div class='progress-msg'>[02:13:57] Record #20</div>
<div class='progress-msg'>[02:13:57] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:13:57] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:13:57] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:13:57] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:13:57] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:14:01] ---</div>
<div class='progress-msg'>[02:14:01] Record #21</div>
<div class='progress-msg'>[02:14:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:14:01] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:01] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:01] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:14:01] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:14:01] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:14:01] ---</div>
<div class='progress-msg'>[02:14:01] Record #22</div>
<div class='progress-msg'>[02:14:01] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:14:01] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:01] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:01] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:14:01] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:14:01] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:14:02] ---</div>
<div class='progress-msg'>[02:14:02] Record #23</div>
<div class='progress-msg'>[02:14:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:14:02] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:02] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:02] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:14:02] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:14:02] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:14:02] ---</div>
<div class='progress-msg'>[02:14:02] Record #24</div>
<div class='progress-msg'>[02:14:02] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:14:02] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:02] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:14:02] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[02:14:02] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:14:02] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:14:02] Cleaning temporary data...</div>
