@charset "utf-8";

@import "components/variables";
@import "components/fonts";
@import "components/iconSet";

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:active,
a:link,
a:focus,
a:visited,
a:hover,
button:active,
button:link,
button:focus,
button:visited,
button:hover,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

@import "components/menu-top";
@import "components/footer";

body {
  color: $brownish-grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  color: $brownish-grey;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

p {
  line-height: 1.6em !important;
}

small {
  font-size: 12px;
  line-height: normal;
}

.mb-6 {
  margin-bottom: 2.5rem!important;
}

a {
  color: $apple-green;
  &:hover {
    color: $apple-green;
  }
}

.pt-40 {
  padding-top: 40px !important;
}

.ptb-50 {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

.plr-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.ptb-40 {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pd_mobile_cero {
  padding: 0;
}

.pd-0 {
  padding: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.wb {
  border-bottom: 0 !important;
}

.box_title_internal_pages {
  border-bottom: solid 1px $gray_borders;
}

.bg_dash {
  background-color: $body_dash_color;
  border: 0;
  .title_internal_pages {
    h1 {
      font-weight: 400;
      line-height: normal;
      color: $dark-grey-blue;
      span {
        color: $dark-grey-blue;
        margin-right: 10px;
      }
    }
    h1.forms_trial {
      color: $brownish-grey;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.title_internal_pages {
  min-height: 100px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  h1 {
    margin-bottom: 0;
    span {
      color: $dark-grey-blue;
      margin-right: 10px;
    }
  }
  .btn {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    height: 50px;
    border-radius: 4px;
    min-width: 331px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    -webkit-justify-content: center;
    [class^="icon-"], [class*=" icon-"] {
      color: white;
      margin-right: 10px;
    }
    &:hover {
      [class^="icon-"], [class*=" icon-"] {
        color: $deep-lavender;
      }
    }
  }
  .btn-arrow-title {
    height: 27px;
    min-width: 27px;
    padding: 0;
    position: absolute;
    top: auto;
    bottom: auto;
    left: -42px;
    justify-content: center;
    -webkit-justify-content: center;
    [class^="icon-"], [class*=" icon-"] {
      font-size: .9em;
      margin: 0;
    }
  }
}

.btn-success {
  background-color: $apple-green;
  border-color: $apple-green;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: white;
  height: 36px;
  min-width: 187px;
  &:hover {
    background-color: white;
    border-color: $apple-green;
    color: $apple-green;
  }
}

.btn-purple {
  color: #fff;
  background-color: $deep-lavender;
  border-color: $deep-lavender;
  [class^="icon-"], [class*=" icon-"] {
    margin-right: 10px;
  }
  &:hover {
    background-color: white;
    border-color: $deep-lavender;
    color: $deep-lavender;
  }
}

.btn-danger {
  color: #fff;
  background-color: $pale-red;
  border-color: $pale-red;
  &:hover {
    background-color: white;
    border-color: $pale-red;
    color: $pale-red;
  }
}

.navbar-toggler {
  border-radius: 0;
}

.home-slider {
  position: relative;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        height: 562px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.20);
        }
        .container {
          position: relative;
          z-index: 2;
        }
        .row {
          height: 562px;
        }
        .info-content {
          bottom: 125px;
          color: white;
          left: 33px;
          position: absolute;
          z-index: 9999;
          h2 {
            background-color: $dark-grey-blue;
            color: white;
            display: table;
            font-size: 28px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            padding: 7px 13px 0px 21px;
            position: relative;
            &:after {
              content: "";
              background-color: $deep-lavender;
              position: absolute;
              top: 7px;
              left: 7px;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
            &:last-child {
              padding-bottom: 7px;
            }
            &:nth-child(2) {
              margin-left: 10px;
            }
            &:nth-child(3) {
              margin-left: 20px;
            }
          }
        }
      }
    }
    .swiper-button-next, 
    .swiper-button-prev {
      color: rgba(255, 255, 255, 0.85);
      &:hover {
        color: white;
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet {
        background: #FFF;
      }
      .swiper-pagination-bullet-active {
        background-color: $dark-grey-blue;
      }
    }
  }
}

.ctn_title_home {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .title_home {
    background-color: white;
    h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      color: $brownish-grey;
      padding-top: 26px;
      text-align: center;
    }
  }
}

.presentation {
  margin-top: 39px;
  padding-bottom: 25px;
 .content {
   p {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $brownish-grey;
   }
 }
}

.content_page {
  padding: 25px 0px;
  .title {
    h2 {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      margin-bottom: 30px;
      span {
        color: $dark-grey-blue;
        margin-right: 10px;
      }
    }
  }
  .box_content {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 4px solid $deep-lavender;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.16);
    min-height: 242px;
    padding: 29px 22px;
    p {
      line-height: normal;
      color: $brownish-grey;
    }
    .buttons {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      width: 100%;
      .link {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        color: $brownish-grey;
        margin-right: 20px;
      }
    }
    ul.list_inside_box_content {
      list-style: none;
      li {
        border-bottom: solid 1px $gray_borders;
        font-size: 16px;
        line-height: normal;
        padding: 20px 0px;
        .additional_info {
          display: block;
          margin-top: 25px;
          width: 100%;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          flex-flow: row wrap;
          -webkit-flex-flow: row wrap;
          align-items: center;
          -webkit-align-items: center;
          align-content: center;
          -webkit-align-content: center;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          .info-icon {
            color: $deep-lavender;
            font-size: 2.2em;
            margin-right: 24px;
          }
          .btn-success {
            margin-left: 9px;
            margin-right: 12px;
            min-width: 154px;
          }
          .txt {
            width: calc(100% - 60px)
          }
        }
        .next_to_each_other {

        }
      }
    }
    .forms_box {
      padding: 24px 15px;
      label {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        .obligatory_field {
          color: $pale-red;
        }
      }
      .custom-control-label {
        font-weight: 400;
        &:before {
          box-shadow: none;
        }
        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
      .form-control {
        color: $brownish-grey;
        font-size: 16px;
        line-height: normal;
        &::-webkit-input-placeholder {
          opacity: 0.5;
          font-size: 16px;
          line-height: normal;
          color: $brownish-grey;
        }        
        &:-ms-input-placeholder {
          opacity: 0.5;
          font-size: 16px;
          line-height: normal;
          color: $brownish-grey;
        }        
        &::placeholder {
          opacity: 0.5;
          font-size: 16px;
          line-height: normal;
          color: $brownish-grey;
        }
        &:focus {
          background-color: rgba(231, 76, 60, 0.08);
          border-color: $dull-orange;
          box-shadow: none;
        }
      }
      .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: $dull-orange;
        background-color: $dull-orange;
      }
      .txt_under_fields {
        display: block;
        font-size: 12px;
        line-height: normal;
      }
      .btn {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        min-width: 142px;
      }
      .btn-login {
        min-width: 96px;
        padding: 6px 26px;
      }
      .help-block {
        ul {
          list-style: none;
          li {
            font-size: 12px;
          }
        }
      }
      .txt_in_box_button {
        margin-top: 10px;
      }
      .multiple_list_select {
        padding: 0;
        option {
          background-color: #FFFFFF;
          padding: 5px 15px;
          text-decoration: underline;
          &:nth-child(odd) {
            background-color: $very-light-pink;
          }
        }
      }
      .btn-list-products {
        display: table;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        margin: 0 auto;
        padding: 6px 15px;
      }
      .trial-msg-title {
        font-weight: 400;
        margin-bottom: 30px;
      }
      .btn-submit-trial {
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        min-width: 232px;
      }
    }
    .forms_box.warning,
    .forms_box.error {
      input.form-control, 
      select.form-control, 
      textarea.form-control {
        border-color: $pale-red;
      }
    }
    .forms_box.purple_style {
      .form-control {
        &:focus {
          border-color: $deep-lavender;
          box-shadow: none;
        }
      }
    }
    .forms_box.green_style {
      .form-control {
        &:focus {
          border-color: $apple-green;
          box-shadow: none;
        }
      }
    }
    .border_bottom_forms_fields {
      border-bottom: 1px solid $gray_borders;
      &:last-child {
        border-bottom: 0;
      }
    }
    .message_form_box {
      margin-top: 10px;
      .alert {
        border-radius: 4px;
        color: white;
        min-height: 62px;
        position: relative;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        .icon_info {
          font-size: 2.2em;
          margin-right: 20px;
        }
        button.close {
          color: #fff;
          font-size: 2em;
          text-shadow: none;
          position: absolute;
          right: 14px;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
          &:hover, &:focus {
            text-decoration: none;
          }
        }
        .txt_message {
          max-width: calc(100% - (36px + 32px));
        }
      }
      .alert-success {
        background-color: $apple-green;
      }
      .alert-danger {
        background-color: $pale-red;
      }
    }
    .info_title_box {
      margin-bottom: 20px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      a {
        &:not(.btn) {
          font-size: 14px;
          font-weight: 700;
          line-height: normal;
          margin-left: 10px;
        }
      }
      .btn {
        min-width: 121px;
        padding: 6px 26px 8px;
      }
      a.edit_profile_wb {
        color: $dark-grey-blue;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
      }
    }
    .info_activity_box {
      border-bottom: solid 1px $gray_borders;
      padding: 5px 15px 15px;
      margin-bottom: 15px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      .info {
        .text_data {
          margin-left: 36px;
        }
      }
      .btn {
        min-width: 121px;
        padding: 6px 26px 8px;
      }
    }
    .row {
      &:last-child {
        .info_activity_box {
          border-bottom: 0;
        }
      }
    }
    .border_bottom_title {
      border-bottom: solid 1px $gray_borders;
      padding-bottom: 15px;
    }
    .table_trial {
      margin-bottom: 0px;
      thead {
        background-color: $white-three;
        th {
          vertical-align: middle;
          [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
          }
        }
      }
      thead, tbody {
        th, td {
          color: $brownish-grey;
        }
      }
    }
  }
  .box_content_clean {
    min-height: 0;
    padding: 20px;
  }
  .box_content_bt_orange {
    border-color: $dull-orange;
  }
  .box_content_bt_purple {
    border-color: $deep-lavender;
  }
  .box_content_bt_blue {
    border-color: $dark-sky-blue;
  }
  .box_content_bt_green {
    border-color: $apple-green;
  }
  .box_image {
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 242px;
    position: relative;
  }
  .reg_children {
    background: url('../images/bg_regch.jpg') no-repeat;
  }
  .help_corgev {
    background: url('../images/bg_helpevnt.jpg') no-repeat;
  }
  .other_sections {
    h4 {
      margin-bottom: 15px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      span {
        color: $dark-grey-blue;
        margin-right: 10px;
      }
    }
    p {
      a {
        color: $apple-green;
      }
    }
    .box_content {
      min-height: 0;
      padding: 20px;
      p {
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .results_box {
        margin-bottom: 22px;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        .date_left {
          background-color: $dark-sky-blue;
          height: 70px;
          width: 91px;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          flex-flow: column wrap;
          -webkit-flex-flow: column wrap;
          align-items: center;
          -webkit-align-items: center;
          align-content: center;
          -webkit-align-content: center;
          justify-content: center;
          -webkit-justify-content: center;
          .item {
            color: white;
            font-size: 12px;
            font-weight: 700;
            line-height: normal;
          }
        }
        .info {
          padding: 10px 7px;
          width: calc(100% - 91px);
          .title {
            display: block;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 1px;
          }
          .text {
            font-size: 14px;
            line-height: normal;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-flow: row wrap;
            -webkit-flex-flow: row wrap;
            align-items: center;
            -webkit-align-items: center;
            align-content: center;
            -webkit-align-content: center;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            a {
              color: $apple-green;
              font-size: 12px;
              line-height: normal;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul.last_news {
        list-style: none;
        li {
          border-bottom: 1px dashed $gray_borders;
          padding: 20px 0px;
          a {
            color: $brownish-grey;
            .title {
              display: block;
              font-size: 16px;
              font-weight: 700;
              line-height: normal;
              margin-bottom: 10px;
            }
            .text {
              display: block;
              font-size: 14px;
              font-weight: 400;
              line-height: normal;
            }
            .published {
              display: block;
              font-size: 12px;
              line-height: normal;
              margin-top: 10px;
            }
            &:hover {
              text-decoration: none;
              .title {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .logos_content {
      padding: 30px 0.5rem;
      margin-bottom: 35px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      figure {
        img {
          max-height: 140px;
          max-width: 160px;
        }
      }
    }
    .ln_cont {
      padding: 20px 0px;
    }
    p.text_wlink {
      font-size: 16px;
      line-height: 1.56;
      margin-bottom: 50px;
    }
  }
  .without_shadow {
    box-shadow: none;
  }
  .without_radius {
    border-radius: 0;
  }
  .without_bordertop {
    border-top: 0;
  }
  .dw_box {
    .download_box {
      border-radius: 5px;
      overflow: hidden;
      color: white;
      height: 82px;
      margin-bottom: 30px;
      width: 100%;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center;
      .left_side {
        background-color: $deep-lavender;
        height: 100%;
        width: 30%;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: center;
        -webkit-justify-content: center;
        [class^="icon-"], [class*=" icon-"] {
          font-size:2.1em;
        }
      }
      .right_side {
        background-color: $apple-green;
        height: 100%;
        width: 70%;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: center;
        -webkit-justify-content: center;
        .title {
          font-size: 18px;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 2px;
        }
        .link {
          color: white;
          font-size: 16px;
          line-height: normal;
        }
      }
    }
    .logo_promo {
      margin-bottom: 30px;
      .little_title {
        font-size: 10px;
        line-height: normal;
        margin-bottom: 5px;
      }
      figure {
        img {
          max-height: 96px;
        }
      }
    }
  }
  .text_presentation {
    p {
      margin-bottom: 28px;
    }
  }
  .reset_height {
    min-height: 0;
  }
  .list_striped {
    .bg_grey {
      &:nth-of-type(odd) { 
        background-color: $white-three;
      }
      .item {
        &:not(:first-child) {
          text-align: center;
          justify-content: center;
        }
      }
    }
    .item_dash_title {
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
    }
    .item {
      border: 0;
      font-size: 14px;
      line-height: normal;
      margin-bottom: 0;
      padding: 10px 20px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      a {
        color: $brownish-grey;
        text-decoration: underline;
        &:hover {
          color: $apple-green;
        }
      }
      .txt_dgb {
        color: $dark-grey-blue;
      }
    }
    .itm_dash {
      font-size: 12px;
      line-height: normal;
      padding: 10px 15px;
      .btn {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        height: 28px;
        margin-right: 20px;
        min-width: auto;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn-danger {
        &:hover {
          color: $pale-red;
        }
      }
      .btn-success {
        &:hover {
          color: $apple-green;
        }
      }
    }
    .filter_input {
      margin-bottom: 10px;
      label {
        font-weight: 700;
        margin-right: 10px;
      }
      .form-control {
        min-width: 0;
        width: 410px;
        &:hover,
        &:focus {
          box-shadow: none;
          border-color: $dull-orange;
        }
        &::-webkit-input-placeholder {
          font-size: 16px;
          color: $brownish-grey;
          opacity: 0.5;
        }
        &:-ms-input-placeholder {
          font-size: 16px;
          color: $brownish-grey;
          opacity: 0.5;
        }
        &::placeholder {
          font-size: 16px;
          color: $brownish-grey;
          opacity: 0.5;
        }

      }
    }
    .title_table {
      .item {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        justify-content: center;
      }
    }
    .table {
      th, td {
        border: 0;
        color: $brownish-grey;
      }
      th {
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        &:last-child {
          text-align: center;
          width: 10% !important;
        }
      }
      td {
        font-size: 12px;
        line-height: normal;
        a.txt_dgb {
          color: #34495e;
        }
        &:last-child {
          text-align: center;
        }
      }
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: $white-three;
    }
    div.dataTables_wrapper div.dataTables_info {
      font-size: 12px;
      line-height: normal;
      padding: 0px 10px;
      padding-top: 0.85em;
      white-space: nowrap;
    }
    .page-item.disabled .page-link {
    }
    .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: $deep-lavender;
      border-color: $deep-lavender;
    }
    .page-link {
      color: $deep-lavender;
      font-size: 12px;
      line-height: normal;
    }
    .dataTables_paginate {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
    }
  }
  .boton_br {
    border-radius: 8px !important;
    padding: 40px 22px;
    .btn {
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      height: 50px;
      border-radius: 4px;
      margin: 0 auto;
      min-width: 331px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center;
      [class^="icon-"], [class*=" icon-"] {
        font-size: 1.6em;
      }
    }
  }
  .list_items_filter {
    .cont_checkbox {
      display: block;
      position: relative;
      padding-left: 24px;
      margin-bottom: 14px;
      cursor: pointer;
      font-size: 12px;
      line-height: normal;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
          background-color: #000;
        }
        &:checked ~ .checkmark:after {
          display: block;
        }
      }
      &:hover {
        input ~ .checkmark {
          background-color: #555;
        }
      }
      .checkmark {
        &:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    .checkmark {
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #eee;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
  .registration_ppal {
    .link_reg_main {
      color: $brownish-grey;
      .registration_main {
        padding: 28px 32px;
        h3 {
          font-size: 28px;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 22px;
        }
        figure {
          border-radius: 8px;
          position: relative;
          overflow: hidden;
          img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
          }
        }
      }
      &:hover {
        text-decoration: none;
        figure {
          img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

.registration {
  padding-bottom: 50px;
  .box_content {
    .border_bottom_forms_fields {
      &:nth-last-child(2) {
        border-bottom: 0;
      }
    }
  }
}

.login {
  padding: 50px 0px;
  .box_content {
    .forms_box {
      padding-bottom: 0px;
    }
  }
}

.breadcumbs {
  background-color: $bg_breadcumb;
  .bc_box {
    height: 30px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    nav {
      .breadcrumb {
        margin: 0;
        padding: 0;
        .breadcrumb-item {
          font-size: 12px;
          line-height: normal;
          a {
            color: $apple-green;
          }
        }
        .breadcrumb-item.active {
          color: $brownish-grey;
        }
      }
    }
    .date_uploaded {
      font-size: 10px;
      line-height: normal;
    }
  }
}

.sports_single_hero {
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  min-height: 160px;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.trials {
  .box_content {
    margin-bottom: 20px;
    min-height: 0;
    padding: 16px 20px 20px;
    .item {
      span.font-weight-bold {
        margin-right: 32px;
      }
      .btn-success {
        font-size: 12px;
        height: 28px;
      }
    }
    p {
      margin: 0;
    }
  }
}

.info_bg_light_gray {
  margin-bottom: 30px;
  .box_info_bg_light {
    background-color: $white-three;
    border-radius: 8px;
    height: 61px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    -webkit-justify-content: center;
    p {
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      a {
        color: $apple-green;
      }
    }
  }
}

.content_with_border {
  border-top: 1px solid $gray_borders;
  padding: 35px 0px 65px;
  &:last-child {
    border-bottom: 1px solid $gray_borders;
  }
}

.messages_post,
.list_striped_box {
  min-height: calc(100vh - 542px);
}

.dashboards {
  background-color: $body_dash_color;
  padding-top: 0;
  .title_dash_item {
    h4 {
      span {
        color: $dark-grey-blue;
        margin-right: 12px;
      }
    }
  }
  .info_dash_item {
    margin: 20px 0px 0px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    p {
      .txt_bold {
        font-weight: 700;
        margin-right: 36px;
      }
    }
  }
  .item {
    border-bottom: 1px solid $gray_borders;
    margin-bottom: 30px;
    .box_content {
      background-color: white;
      border-radius: 0;
      .column_labels,
      .column_data {
        ul {
          list-style: none;
          li {
            font-size: 16px;
            line-height: normal;
            margin-bottom: 5px;
          }
        }
      }
      .column_data {
        ul {
          li {
            font-weight: 700;
          }
        }
      }
      .link_box {
        p {
          font-weight: 600;
          margin: 0;
          a {
            color: $dark-grey-blue;
          }
        }
      }
    }
  }
  .sb_bttm {
    border-bottom: 0;
  }
}

.pd_mobile_cero {
  padding: 0;
}

.modal {
  .modal-lg {
    max-width: 920px;
    margin: .5rem auto;
  }
  .modal-content {
    border-radius: 0;
    border: 0;
    border-top: 4px solid $dull-orange;
    .modal-header {
      border-bottom: 1px solid $gray_borders;
      height: 82px;
      padding: 0px 1rem;
      align-items: center;
      -webkit-align-items: center;
      h5 {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
      }
    }
    .modal-body {
      color: $brownish-grey;
      padding: 17px 1rem;
      h1, h2, h3, h4, h5, h6, p, small, span {
        color: $brownish-grey;
      }
      .table {
        margin-bottom: 20px;
        td {
          vertical-align: middle;
        }
        h6 {
          margin: 0;
        }
        .txt_info {
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
        }
      }
      .table.tableSportsSingleOverlay {
        tbody {
          tr {
            td {
              height: 48px;
              padding: 5px 11px;
              &:first-child {
                width: 182px;
              }
            }
          }
        }
      }
      .reg_content {
        margin: 15px 0px;
        a {
          margin-right: 3px;
          [class^="icon-"], [class*=" icon-"] {
            color: #FFFFFF;
            margin-right: 3px;
          }
          &:hover {
            [class^="icon-"], [class*=" icon-"] {
              color: $apple-green;
            }
          }
        }
      }
    }
  }
}

.steps_content {
  .stepper {
    .item {
      position: relative;
      &:not(:last-child) {
        &:after {
          content: "";
          position: absolute;
          height: 3px;
          right: -42px;
          top: 21px;
          width: 88px;
        }
      }
      .circle {
        border: 3px solid;
        border-radius: 50%;
        display: block;
        height: 41px;
        margin: 0 auto;
        width: 41px;
      }
      h6 {
        display: block;
        position: relative;
        margin: 10px auto 0px;
        width: 38%;
      }
    }
  }
  .stepper_violet {
    .item {
      &:not(:last-child) {
        &:after {
          background-color: $deep-lavender;
        }
      }
      .circle {
        border-color: $deep-lavender;
      }
      .active {
        background-color: $deep-lavender;
      }
    }
  }
  .stepper_green {
    .item {
      &:not(:last-child) {
        &:after {
          background-color: $apple-green;
        }
      }
      .circle {
        border-color: $apple-green;
      }
      .active {
        background-color: $apple-green;
      }
    }
  }
}

@import "components/responsive";
