<div class='progress-msg'>Fri, 20 Mar 2020 08:48:49 +0000</div>
<div class='progress-msg'>[08:48:49] Composing titles...</div>
<div class='progress-msg'>[08:48:49] Composing excerpts...</div>
<div class='progress-msg'>[08:48:49] Composing duplicate indicators...</div>
<div class='progress-msg'>[08:48:49] Composing authors...</div>
<div class='progress-msg'>[08:48:49] Composing slugs...</div>
<div class='progress-msg'>[08:48:49] Composing menu order...</div>
<div class='progress-msg'>[08:48:49] Composing contents...</div>
<div class='progress-msg'>[08:48:49] Composing dates...</div>
<div class='progress-msg'>[08:48:49] Composing custom parameters...</div>
<div class='progress-msg'>[08:48:49] Composing URLs for images...</div>
<div class='progress-msg'>[08:48:49] Composing URLs for attachments files...</div>
<div class='progress-msg'>[08:48:49] Composing unique keys...</div>
<div class='progress-msg'>[08:48:49] Processing posts...</div>
<div class='progress-msg'>[08:48:49] Data parsing via add-ons...</div>
<div class='progress-msg'>[08:48:49] Composing advanced custom fields...</div>
<div class='progress-msg'>[08:48:49] ---</div>
<div class='progress-msg'>[08:48:49] Record #1</div>
<div class='progress-msg'>[08:48:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:48:50] Combine all data for post `test trial 9847`...</div>
<div class='progress-msg'>[08:48:50] Find corresponding article among database for post `test trial 9847`...</div>
<div class='progress-msg'>[08:48:50] Duplicate post was found for post `test trial 9847`...</div>
<div class='progress-msg'>[08:48:50] Deleting attachments for `test trial 9847`</div>
<div class='progress-msg'>[08:48:50] Deleting images for `test trial 9847`</div>
<div class='progress-msg'>[08:48:50] Applying filter `pmxi_article_data` for `test trial 9847`</div>
<div class='progress-msg'>[08:48:50] <b>UPDATING</b> `test trial 9847` `Trials`</div>
<div class='progress-msg'>[08:48:50] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[08:48:50] - Importing field ``</div>
<div class='progress-msg'>[08:48:50] - Importing field `year`</div>
<div class='progress-msg'>[08:48:50] - Importing field `sport`</div>
<div class='progress-msg'>[08:48:50] - Importing field `age`</div>
<div class='progress-msg'>[08:48:50] - Importing field `gender`</div>
<div class='progress-msg'>[08:48:50] - Importing field `date_birth_restriction_from`</div>
<div class='progress-msg'>[08:48:50] - Importing field `date_birth_restriction_to`</div>
<div class='progress-msg'>[08:48:50] - Importing field `date_of_trial`</div>
<div class='progress-msg'>[08:48:50] - Importing field `end_date_of_trial`</div>
<div class='progress-msg'>[08:48:50] - Importing field `time_trial_to`</div>
<div class='progress-msg'>[08:48:50] - Importing field `time_trial_from`</div>
<div class='progress-msg'>[08:48:50] - Importing field `eligibility`</div>
<div class='progress-msg'>[08:48:50] - Importing field `required_equipment`</div>
<div class='progress-msg'>[08:48:50] - Importing field `championship_date`</div>
<div class='progress-msg'>[08:48:50] - Importing field `championship_venue`</div>
<div class='progress-msg'>[08:48:50] - Importing field `product_set`</div>
<div class='progress-msg'>[08:48:50] - Importing field `venue`</div>
<div class='progress-msg'>[08:48:51] - Importing field `products`</div>
<div class='progress-msg'>[08:48:51] - Importing field `prod_sets`</div>
<div class='progress-msg'>[08:48:51] - Importing field `registration`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_payment_transaction`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_payment_initial`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_image_consent`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_recorded_consent`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_print_consent`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_selection_status`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_approval_status`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_student`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_playing_history`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_representative_experience`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_0_prefered_position`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_payment_transaction`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_payment_initial`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_image_consent`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_recorded_consent`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_print_consent`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_selection_status`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_approval_status`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_student`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_playing_history`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_representative_experience`</div>
<div class='progress-msg'>[08:48:51] - Importing field `students_1_prefered_position`</div>
<div class='progress-msg'>[08:48:51] - Importing field `fees`</div>
<div class='progress-msg'>[08:48:51] - Importing field ``</div>
<div class='progress-msg'>[08:48:51] - Importing field `results`</div>
<div class='progress-msg'>[08:48:51] - Importing field `results_content`</div>
<div class='progress-msg'>[08:48:51] - Importing field `result_attachments`</div>
<div class='progress-msg'>[08:48:51] - Importing field `event_photos`</div>
<div class='progress-msg'>[08:48:51] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:48:51] <b>UPDATED</b> `test trial 9847` `Trials` (ID: 9847)</div>
<div class='progress-msg'>[08:48:51] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:48:51] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:48:51] Cleaning temporary data...</div>
