footer {
  color: white;
  .top-footer {
    background-color: $dark-grey-blue;
    padding: 26px 0px;
    .item {
      h4 {
        border-bottom: 2px solid $apple-green;
        padding-bottom: 8px;
        margin-bottom: 18px;
      }
      ul {
        list-style: none;
        li {
          a {
            color: white;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      ul.list_lb {
        li {
          border-bottom: 2px dashed #8c8c8c;
          padding: 9px 0px;
          &:first-child {
            padding-top: 0px;
          }
          a {
            .lb_title {
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 1px;
            }
            .dates {
              display: block;
              font-size: 14px;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
      ul.list_ul {
        li {
          margin-bottom: 15px;
          a {
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      ul.list_cu {
        li {
          margin-bottom: 6px;
          a {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.83;
          }
        }
      }
      &:nth-child(4) {
        h4 {
          border: 0;
        }
      }
    }
  }
  .bottom-footer {
    background-color: $apple-green;
    padding: 7px 0px;
    text-align: center;
    h5 {
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0px;
    }
  }
}