@font-face {
  font-family: 'tannerIconSet';
  src:  url('../webfonts/TannerIconSet.eot?2wlya6');
  src:  url('../webfonts/TannerIconSet.eot?2wlya6#iefix') format('embedded-opentype'),
    url('../webfonts/TannerIconSet.ttf?2wlya6') format('truetype'),
    url('../webfonts/TannerIconSet.woff?2wlya6') format('woff'),
    url('../webfonts/TannerIconSet.svg?2wlya6#TannerIconSet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tannerIconSet' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-z:before {
  content: "\e900";
}
.icon-arrows-horizontal:before {
  content: "\e901";
}
.icon-arrows-vertical:before {
  content: "\e902";
}
.icon-command:before {
  content: "\e903";
}
.icon-connect:before {
  content: "\e904";
}
.icon-fade:before {
  content: "\e905";
}
.icon-insert:before {
  content: "\e906";
}
.icon-launch:before {
  content: "\e907";
}
.icon-major-to-minor:before {
  content: "\e908";
}
.icon-maximize:before {
  content: "\e909";
}
.icon-migrate:before {
  content: "\e90a";
}
.icon-minimize:before {
  content: "\e90b";
}
.icon-minor-to-major:before {
  content: "\e90c";
}
.icon-move:before {
  content: "\e90d";
}
.icon-new-tab:before {
  content: "\e90e";
}
.icon-option:before {
  content: "\e90f";
}
.icon-pin:before {
  content: "\e910";
}
.icon-renew:before {
  content: "\e911";
}
.icon-repeat:before {
  content: "\e912";
}
.icon-reply:before {
  content: "\e913";
}
.icon-reset:before {
  content: "\e914";
}
.icon-restart:before {
  content: "\e915";
}
.icon-rotate:before {
  content: "\e916";
}
.icon-run:before {
  content: "\e917";
}
.icon-scan:before {
  content: "\e918";
}
.icon-shift:before {
  content: "\e919";
}
.icon-split-screen:before {
  content: "\e91a";
}
.icon-z-a:before {
  content: "\e91b";
}
.icon-hand-cursor:before {
  content: "\e91c";
}
.icon-accessibility:before {
  content: "\e91d";
}
.icon-activity:before {
  content: "\e91e";
}
.icon-arrival:before {
  content: "\e91f";
}
.icon-at:before {
  content: "\e920";
}
.icon-bee:before {
  content: "\e921";
}
.icon-blog:before {
  content: "\e922";
}
.icon-bluetooth:before {
  content: "\e923";
}
.icon-bolt:before {
  content: "\e924";
}
.icon-bookmark:before {
  content: "\e925";
}
.icon-calculator:before {
  content: "\e926";
}
.icon-calendar:before {
  content: "\e927";
}
.icon-camera-action:before {
  content: "\e928";
}
.icon-camera:before {
  content: "\e929";
}
.icon-car:before {
  content: "\e92a";
}
.icon-catalog:before {
  content: "\e92b";
}
.icon-chat:before {
  content: "\e92c";
}
.icon-chip:before {
  content: "\e92d";
}
.icon-cloud:before {
  content: "\e92e";
}
.icon-cloud-download:before {
  content: "\e92f";
}
.icon-lightning:before {
  content: "\e930";
}
.icon-rain:before {
  content: "\e931";
}
.icon-snow:before {
  content: "\e932";
}
.icon-upload:before {
  content: "\e933";
}
.icon-code:before {
  content: "\e934";
}
.icon-compass:before {
  content: "\e935";
}
.icon-debug:before {
  content: "\e936";
}
.icon-delivery-truck:before {
  content: "\e937";
}
.icon-departure:before {
  content: "\e938";
}
.icon-desktop:before {
  content: "\e939";
}
.icon-email:before {
  content: "\e93a";
}
.icon-event:before {
  content: "\e93b";
}
.icon-filter:before {
  content: "\e93c";
}
.icon-fingerprint-recognition:before {
  content: "\e93d";
}
.icon-forum:before {
  content: "\e93e";
}
.icon-globe:before {
  content: "\e93f";
}
.icon-home:before {
  content: "\e940";
}
.icon-hotel:before {
  content: "\e941";
}
.icon-idea:before {
  content: "\e942";
}
.icon-industry:before {
  content: "\e943";
}
.icon-location:before {
  content: "\e944";
}
.icon-map:before {
  content: "\e945";
}
.icon-mobile-add:before {
  content: "\e946";
}
.icon-check:before {
  content: "\e947";
}
.icon-mobile-download:before {
  content: "\e948";
}
.icon-mobile:before {
  content: "\e949";
}
.icon-no-activity:before {
  content: "\e94a";
}
.icon-password:before {
  content: "\e94b";
}
.icon-plane:before {
  content: "\e94c";
}
.icon-printer:before {
  content: "\e94d";
}
.icon-purchase:before {
  content: "\e94e";
}
.icon-recommend:before {
  content: "\e94f";
}
.icon-request-quote:before {
  content: "\e950";
}
.icon-restaurant:before {
  content: "\e951";
}
.icon-rocket:before {
  content: "\e952";
}
.icon-rss:before {
  content: "\e953";
}
.icon-schedule:before {
  content: "\e954";
}
.icon-search:before {
  content: "\e955";
}
.icon-settings:before {
  content: "\e956";
}
.icon-share:before {
  content: "\e957";
}
.icon-bag:before {
  content: "\e958";
}
.icon-cart:before {
  content: "\e959";
}
.icon-shuttle:before {
  content: "\e95a";
}
.icon-tag:before {
  content: "\e95b";
}
.icon-task:before {
  content: "\e95c";
}
.icon-taxi:before {
  content: "\e95d";
}
.icon-temperature:before {
  content: "\e95e";
}
.icon-terminal:before {
  content: "\e95f";
}
.icon-thumbsup:before {
  content: "\e960";
}
.icon-ticket:before {
  content: "\e961";
}
.icon-time:before {
  content: "\e962";
}
.icon-tool:before {
  content: "\e963";
}
.icon-translate:before {
  content: "\e964";
}
.icon-van:before {
  content: "\e965";
}
.icon-view:before {
  content: "\e966";
}
.icon-vpn:before {
  content: "\e967";
}
.icon-watson:before {
  content: "\e968";
}
.icon-wikis:before {
  content: "\e969";
}
.icon-arrow-cursor:before {
  content: "\e96a";
}
.icon-misuse:before {
  content: "\e96b";
}
.icon-feedback:before {
  content: "\e96c";
}
.icon-align-center:before {
  content: "\e96d";
}
.icon-align-left:before {
  content: "\e96e";
}
.icon-align-right:before {
  content: "\e96f";
}
.icon-attachment:before {
  content: "\e970";
}
.icon-bold:before {
  content: "\e971";
}
.icon-color:before {
  content: "\e972";
}
.icon-creation:before {
  content: "\e973";
}
.icon-crop:before {
  content: "\e974";
}
.icon-cut:before {
  content: "\e975";
}
.icon-delete:before {
  content: "\e976";
}
.icon-edit:before {
  content: "\e977";
}
.icon-fill:before {
  content: "\e978";
}
.icon-highlight:before {
  content: "\e979";
}
.icon-image:before {
  content: "\e97a";
}
.icon-indent-less:before {
  content: "\e97b";
}
.icon-indent-more:before {
  content: "\e97c";
}
.icon-indent:before {
  content: "\e97d";
}
.icon-italic:before {
  content: "\e97e";
}
.icon-link:before {
  content: "\e97f";
}
.icon-save:before {
  content: "\e980";
}
.icon-scale:before {
  content: "\e981";
}
.icon-selection:before {
  content: "\e982";
}
.icon-spell-check:before {
  content: "\e983";
}
.icon-underline:before {
  content: "\e984";
}
.icon-api:before {
  content: "\e985";
}
.icon-application:before {
  content: "\e986";
}
.icon-copy:before {
  content: "\e987";
}
.icon-document-add:before {
  content: "\e988";
}
.icon-document:before {
  content: "\e989";
}
.icon-paste:before {
  content: "\e98a";
}
.icon-subtract1:before {
  content: "\e98b";
}
.icon-tasks:before {
  content: "\e98c";
}
.icon-file-download:before {
  content: "\e98d";
}
.icon-dvr:before {
  content: "\e98e";
}
.icon-export:before {
  content: "\e98f";
}
.icon-folder-add:before {
  content: "\e990";
}
.icon-folder:before {
  content: "\e991";
}
.icon-gif:before {
  content: "\e992";
}
.icon-hd-filled:before {
  content: "\e993";
}
.icon-hd:before {
  content: "\e994";
}
.icon-hdr:before {
  content: "\e995";
}
.icon-list-bullet:before {
  content: "\e996";
}
.icon-list-check:before {
  content: "\e997";
}
.icon-list-numbered:before {
  content: "\e998";
}
.icon-panel-expansion:before {
  content: "\e999";
}
.icon-pdf:before {
  content: "\e99a";
}
.icon-popup:before {
  content: "\e99b";
}
.icon-scale1:before {
  content: "\e99c";
}
.icon-table-of-contents:before {
  content: "\e99d";
}
.icon-template:before {
  content: "\e99e";
}
.icon-tif:before {
  content: "\e99f";
}
.icon-upload1:before {
  content: "\e9a0";
}
.icon-workspace:before {
  content: "\e9a1";
}
.icon-unstructured:before {
  content: "\e9a2";
}
.icon-analytics:before {
  content: "\e9a3";
}
.icon-archive:before {
  content: "\e9a4";
}
.icon-base:before {
  content: "\e9a5";
}
.icon-bar:before {
  content: "\e9a6";
}
.icon-bubble:before {
  content: "\e9a7";
}
.icon-line:before {
  content: "\e9a8";
}
.icon-network:before {
  content: "\e9a9";
}
.icon-venn-diagram:before {
  content: "\e9aa";
}
.icon-check1:before {
  content: "\e9ab";
}
.icon-data-1:before {
  content: "\e9ac";
}
.icon-data-2:before {
  content: "\e9ad";
}
.icon-diagram:before {
  content: "\e9ae";
}
.icon-data-error:before {
  content: "\e9af";
}
.icon-flow:before {
  content: "\e9b0";
}
.icon-parent-child:before {
  content: "\e9b1";
}
.icon-presentation:before {
  content: "\e9b2";
}
.icon-report:before {
  content: "\e9b3";
}
.icon-set:before {
  content: "\e9b4";
}
.icon-structured:before {
  content: "\e9b5";
}
.icon-table-1:before {
  content: "\e9b6";
}
.icon-table-2:before {
  content: "\e9b7";
}
.icon-back:before {
  content: "\e9b8";
}
.icon-forward:before {
  content: "\e9b9";
}
.icon-pause-button:before {
  content: "\e9ba";
}
.icon-pause:before {
  content: "\e9bb";
}
.icon-power:before {
  content: "\e9bc";
}
.icon-record:before {
  content: "\e9bd";
}
.icon-start-button:before {
  content: "\e9be";
}
.icon-start:before {
  content: "\e9bf";
}
.icon-stop-button:before {
  content: "\e9c0";
}
.icon-stop:before {
  content: "\e9c1";
}
.icon-video-add:before {
  content: "\e9c2";
}
.icon-video-chat:before {
  content: "\e9c3";
}
.icon-video-off:before {
  content: "\e9c4";
}
.icon-video-on:before {
  content: "\e9c5";
}
.icon-volume-down:before {
  content: "\e9c6";
}
.icon-volume-mute:before {
  content: "\e9c7";
}
.icon-volume-up:before {
  content: "\e9c8";
}
.icon-user:before {
  content: "\e9c9";
}
.icon-admin:before {
  content: "\e9ca";
}
.icon-avatar:before {
  content: "\e9cb";
}
.icon-collaborate:before {
  content: "\e9cc";
}
.icon-activated-filled:before {
  content: "\e9cd";
}
.icon-exit:before {
  content: "\e9ce";
}
.icon-activated:before {
  content: "\e9cf";
}
.icon-face-add:before {
  content: "\e9d0";
}
.icon-dissatisfied-filled:before {
  content: "\e9d1";
}
.icon-dissatisfied:before {
  content: "\e9d3";
}
.icon-dizzy-filled:before {
  content: "\e9d4";
}
.icon-dizzy:before {
  content: "\e9d6";
}
.icon-neutral-filled:before {
  content: "\e9d7";
}
.icon-neutral:before {
  content: "\e9d9";
}
.icon-pending-filled:before {
  content: "\e9da";
}
.icon-pending:before {
  content: "\e9dc";
}
.icon-satisfied-filled:before {
  content: "\e9dd";
}
.icon-satisfied:before {
  content: "\e9df";
}
.icon-wink-filled:before {
  content: "\e9e0";
}
.icon-wink:before {
  content: "\e9e2";
}
.icon-follow:before {
  content: "\e9e3";
}
.icon-group:before {
  content: "\e9e4";
}
.icon-online:before {
  content: "\e9e5";
}
.icon-partnership:before {
  content: "\e9e6";
}
.icon-person:before {
  content: "\e9e7";
}
.icon-role:before {
  content: "\e9e8";
}
.icon-checkbox-undeterminate-filled:before {
  content: "\e9e9";
}
.icon-asleep:before {
  content: "\e9ea";
}
.icon-checkbox-checked-filled:before {
  content: "\e9eb";
}
.icon-checkbox-checked:before {
  content: "\e9ed";
}
.icon-checkbox-unchecked:before {
  content: "\e9ee";
}
.icon-checkbox-undeterminate:before {
  content: "\e9ef";
}
.icon-column:before {
  content: "\e9f0";
}
.icon-favorite-filled:before {
  content: "\e9f1";
}
.icon-favorite:before {
  content: "\e9f2";
}
.icon-grid:before {
  content: "\e9f3";
}
.icon-light:before {
  content: "\e9f4";
}
.icon-list:before {
  content: "\e9f5";
}
.icon-locked:before {
  content: "\e9f6";
}
.icon-microphone-off:before {
  content: "\e9f7";
}
.icon-microphone:before {
  content: "\e9f8";
}
.icon-notification-off:before {
  content: "\e9f9";
}
.icon-notification:before {
  content: "\e9fa";
}
.icon-phone-off:before {
  content: "\e9fb";
}
.icon-phone:before {
  content: "\e9fc";
}
.icon-radio-button-checked:before {
  content: "\e9fd";
}
.icon-radio-button-unchecked:before {
  content: "\e9fe";
}
.icon-row:before {
  content: "\e9ff";
}
.icon-star-filled:before {
  content: "\ea00";
}
.icon-star-half:before {
  content: "\ea01";
}
.icon-star:before {
  content: "\ea02";
}
.icon-unlocked:before {
  content: "\ea03";
}
.icon-mode-1:before {
  content: "\ea04";
}
.icon-mode-2:before {
  content: "\ea05";
}
.icon-loading:before {
  content: "\ea06";
}
.icon-checkmark-filled:before {
  content: "\ea07";
}
.icon-checkmark:before {
  content: "\ea09";
}
.icon-error-filled:before {
  content: "\ea0a";
}
.icon-error:before {
  content: "\ea0c";
}
.icon-help-filled:before {
  content: "\ea0d";
}
.icon-help:before {
  content: "\ea0f";
}
.icon-info-filled:before {
  content: "\ea10";
}
.icon-info:before {
  content: "\ea12";
}
.icon-misuse-filled:before {
  content: "\ea13";
}
.icon-warning-alt-filled:before {
  content: "\ea15";
}
.icon-warning-alt:before {
  content: "\ea17";
}
.icon-warning-filled:before {
  content: "\ea18";
}
.icon-warning:before {
  content: "\ea1a";
}
.icon-delicious:before {
  content: "\ea1b";
}
.icon-digg:before {
  content: "\ea1c";
}
.icon-facebook:before {
  content: "\ea1d";
}
.icon-flickr:before {
  content: "\ea1e";
}
.icon-github:before {
  content: "\ea1f";
}
.icon-linkedin:before {
  content: "\ea20";
}
.icon-livestream:before {
  content: "\ea21";
}
.icon-pinterest:before {
  content: "\ea22";
}
.icon-quora:before {
  content: "\ea23";
}
.icon-skype:before {
  content: "\ea24";
}
.icon-slack:before {
  content: "\ea25";
}
.icon-snapchat:before {
  content: "\ea26";
}
.icon-stumbleupon:before {
  content: "\ea27";
}
.icon-tumblr:before {
  content: "\ea28";
}
.icon-twitter:before {
  content: "\ea29";
}
.icon-wykop:before {
  content: "\ea2a";
}
.icon-xing:before {
  content: "\ea2b";
}
.icon-yahoo:before {
  content: "\ea2c";
}
.icon-youtube:before {
  content: "\ea2d";
}
.icon-add:before {
  content: "\ea2e";
}
.icon-app-switcher:before {
  content: "\ea2f";
}
.icon-arrow-down-left:before {
  content: "\ea30";
}
.icon-arrow-down-right:before {
  content: "\ea31";
}
.icon-arrow-down:before {
  content: "\ea32";
}
.icon-arrow-left:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-up-left:before {
  content: "\ea35";
}
.icon-arrow-up-right:before {
  content: "\ea36";
}
.icon-arrow-up:before {
  content: "\ea37";
}
.icon-caret-down:before {
  content: "\ea38";
}
.icon-caret-left:before {
  content: "\ea39";
}
.icon-caret-right:before {
  content: "\ea3a";
}
.icon-caret-sort:before {
  content: "\ea3b";
}
.icon-caret-up:before {
  content: "\ea3c";
}
.icon-chevron-down:before {
  content: "\ea3d";
}
.icon-chevron-left:before {
  content: "\ea3e";
}
.icon-chevron-right:before {
  content: "\ea3f";
}
.icon-chevron-up:before {
  content: "\ea40";
}
.icon-chrevron-sort:before {
  content: "\ea41";
}
.icon-close:before {
  content: "\ea42";
}
.icon-down-to-bottom:before {
  content: "\ea43";
}
.icon-draggable:before {
  content: "\ea44";
}
.icon-ellipses:before {
  content: "\ea45";
}
.icon-first-page:before {
  content: "\ea46";
}
.icon-last-page:before {
  content: "\ea47";
}
.icon-menu:before {
  content: "\ea48";
}
.icon-overflow-menu:before {
  content: "\ea49";
}
.icon-subtract:before {
  content: "\ea4a";
}
.icon-up-to-top:before {
  content: "\ea4b";
}
.icon-zoom-in:before {
  content: "\ea4c";
}
.icon-zoom-out:before {
  content: "\ea4d";
}
.icon-exchange:before {
  content: "\ea4e";
}
