<div class='progress-msg'>Thu, 05 Mar 2020 08:50:44 +0000</div>
<div class='progress-msg'>[08:50:44] Composing titles...</div>
<div class='progress-msg'>[08:50:44] Composing excerpts...</div>
<div class='progress-msg'>[08:50:44] Composing duplicate indicators...</div>
<div class='progress-msg'>[08:50:44] Composing slugs...</div>
<div class='progress-msg'>[08:50:44] Composing menu order...</div>
<div class='progress-msg'>[08:50:44] Composing contents...</div>
<div class='progress-msg'>[08:50:44] Composing dates...</div>
<div class='progress-msg'>[08:50:44] Composing custom parameters...</div>
<div class='progress-msg'>[08:50:44] Composing URLs for attachments files...</div>
<div class='progress-msg'>[08:50:44] Composing unique keys...</div>
<div class='progress-msg'>[08:50:44] Processing posts...</div>
<div class='progress-msg'>[08:50:44] Data parsing via add-ons...</div>
<div class='progress-msg'>[08:50:44] Composing advanced custom fields...</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #1</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #2</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #3</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #4</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #5</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #6</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #7</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #8</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #9</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #10</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #11</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #12</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #13</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #14</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #15</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #16</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #17</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #18</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #19</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:44] ---</div>
<div class='progress-msg'>[08:50:44] Record #20</div>
<div class='progress-msg'>[08:50:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:44] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:44] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:44] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:44] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:44] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:44] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:45] ---</div>
<div class='progress-msg'>[08:50:45] Record #21</div>
<div class='progress-msg'>[08:50:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:45] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:45] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:45] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:45] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:45] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:45] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:45] ---</div>
<div class='progress-msg'>[08:50:45] Record #22</div>
<div class='progress-msg'>[08:50:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:45] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:45] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:45] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:45] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:45] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:45] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:45] ---</div>
<div class='progress-msg'>[08:50:45] Record #23</div>
<div class='progress-msg'>[08:50:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:45] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:45] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:45] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:45] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:45] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:45] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:45] ---</div>
<div class='progress-msg'>[08:50:45] Record #24</div>
<div class='progress-msg'>[08:50:45] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:50:45] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[08:50:45] Combine all data for post ``...</div>
<div class='progress-msg'>[08:50:45] Find corresponding article among database for post ``...</div>
<div class='progress-msg'>[08:50:45] Duplicate post wasn't found for post ``...</div>
<div class='progress-msg'>[08:50:45] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[08:50:45] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[08:50:45] Cleaning temporary data...</div>
