<div class='progress-msg'>Mon, 09 Mar 2020 02:51:18 +0000</div>
<div class='progress-msg'>[02:51:18] Composing titles...</div>
<div class='progress-msg'>[02:51:18] Composing excerpts...</div>
<div class='progress-msg'>[02:51:18] Composing duplicate indicators...</div>
<div class='progress-msg'>[02:51:18] Composing slugs...</div>
<div class='progress-msg'>[02:51:18] Composing menu order...</div>
<div class='progress-msg'>[02:51:18] Composing contents...</div>
<div class='progress-msg'>[02:51:18] Composing dates...</div>
<div class='progress-msg'>[02:51:18] Composing custom parameters...</div>
<div class='progress-msg'>[02:51:18] Composing URLs for attachments files...</div>
<div class='progress-msg'>[02:51:18] Composing unique keys...</div>
<div class='progress-msg'>[02:51:18] Processing posts...</div>
<div class='progress-msg'>[02:51:18] Data parsing via add-ons...</div>
<div class='progress-msg'>[02:51:18] Composing advanced custom fields...</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #1</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #2</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #3</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #4</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #5</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #6</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #7</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #8</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #9</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #10</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #11</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #12</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #13</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #14</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #15</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #16</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #17</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #18</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #19</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:18] ---</div>
<div class='progress-msg'>[02:51:18] Record #20</div>
<div class='progress-msg'>[02:51:18] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:18] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:18] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:18] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:18] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:23] ---</div>
<div class='progress-msg'>[02:51:23] Record #21</div>
<div class='progress-msg'>[02:51:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:23] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:23] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:23] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:23] ---</div>
<div class='progress-msg'>[02:51:23] Record #22</div>
<div class='progress-msg'>[02:51:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:23] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:23] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:23] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:23] ---</div>
<div class='progress-msg'>[02:51:23] Record #23</div>
<div class='progress-msg'>[02:51:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:23] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:23] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:23] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:23] ---</div>
<div class='progress-msg'>[02:51:23] Record #24</div>
<div class='progress-msg'>[02:51:23] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:51:23] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:51:23] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:51:23] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:51:23] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:51:23] Cleaning temporary data...</div>
