<div class='progress-msg'>Mon, 24 Feb 2020 08:52:50 +0000</div>
<div class='progress-msg'>[08:52:50] Composing titles...</div>
<div class='progress-msg'>[08:52:50] Composing excerpts...</div>
<div class='progress-msg'>[08:52:50] Composing duplicate indicators...</div>
<div class='progress-msg'>[08:52:50] Composing authors...</div>
<div class='progress-msg'>[08:52:50] Composing slugs...</div>
<div class='progress-msg'>[08:52:50] Composing menu order...</div>
<div class='progress-msg'>[08:52:50] Composing contents...</div>
<div class='progress-msg'>[08:52:50] Composing dates...</div>
<div class='progress-msg'>[08:52:50] Composing custom parameters...</div>
<div class='progress-msg'>[08:52:50] Composing URLs for images...</div>
<div class='progress-msg'>[08:52:50] Composing URLs for attachments files...</div>
<div class='progress-msg'>[08:52:50] Composing unique keys...</div>
<div class='progress-msg'>[08:52:50] Processing posts...</div>
<div class='progress-msg'>[08:52:50] Data parsing via add-ons...</div>
<div class='progress-msg'>[08:52:50] Composing advanced custom fields...</div>
<div class='progress-msg'>[08:52:50] ---</div>
<div class='progress-msg'>[08:52:50] Record #1</div>
<div class='progress-msg'>[08:52:50] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:52:50] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[08:52:50] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[08:52:50] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[08:52:50] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[08:52:50] <b>CREATING</b> `ACT 16&U Boys Hockey` `Teams`</div>
<div class='progress-msg'>[08:52:51] Associate post `ACT 16&U Boys Hockey` with current import ...</div>
<div class='progress-msg'>[08:52:51] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[08:52:51] - Importing field `trial_information`</div>
<div class='progress-msg'>[08:52:51] - Importing field `year`</div>
<div class='progress-msg'>[08:52:51] - Importing field `sport`</div>
<div class='progress-msg'>[08:52:51] - Importing field `age`</div>
<div class='progress-msg'>[08:52:51] - Importing field `gender`</div>
<div class='progress-msg'>[08:52:51] - Importing field `date_birth_restriction_from`</div>
<div class='progress-msg'>[08:52:51] - Importing field `date_birth_restriction_to`</div>
<div class='progress-msg'>[08:52:51] - Importing field `date_of_trial`</div>
<div class='progress-msg'>[08:52:51] - Importing field `eligibility`</div>
<div class='progress-msg'>[08:52:51] - Importing field `championship_date`</div>
<div class='progress-msg'>[08:52:51] - Importing field `championship_venue`</div>
<div class='progress-msg'>[08:52:51] - Importing field `product_set`</div>
<div class='progress-msg'>[08:52:51] - Importing field `venue`</div>
<div class='progress-msg'>[08:52:51] - Importing field ``</div>
<div class='progress-msg'>[08:52:51] - Importing field `prod_sets`</div>
<div class='progress-msg'>[08:52:51] - Importing field ``</div>
<div class='progress-msg'>[08:52:51] - Importing field `students`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_payment_initial`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_payment_transaction`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_student`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_playing_history`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_representative_experience`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_prefered_position`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_approval_status`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_selection_status`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_print_consent`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_image_consent`</div>
<div class='progress-msg'>[08:52:51] - Importing field `students_0_recorded_consent`</div>
<div class='progress-msg'>[08:52:51] - Importing field `payments`</div>
<div class='progress-msg'>[08:52:51] - Importing field `fees`</div>
<div class='progress-msg'>[08:52:51] - Importing field ``</div>
<div class='progress-msg'>[08:52:51] - Importing field `results_content`</div>
<div class='progress-msg'>[08:52:51] - Importing field `result_attachments`</div>
<div class='progress-msg'>[08:52:51] - Importing field `event_photos`</div>
<div class='progress-msg'>[08:52:51] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:52:51] <b>CREATED</b> `ACT 16&U Boys Hockey` `Teams` (ID: 1308)</div>
<div class='progress-msg'>[08:52:51] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:52:51] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:52:51] Cleaning temporary data...</div>
