@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@font-face {
  font-family: 'tannerIconSet';
  src: url("../webfonts/TannerIconSet.eot");
  src: url("../webfonts/TannerIconSet.eot") format("embedded-opentype"), url("../webfonts/TannerIconSet.ttf") format("truetype"), url("../webfonts/TannerIconSet.woff") format("woff"), url("../webfonts/TannerIconSet.woff2") format("woff"), url("../webfonts/TannerIconSet.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

@font-face {
  font-family: 'tannerIconSet';
  src: url("../webfonts/TannerIconSet.eot?2wlya6");
  src: url("../webfonts/TannerIconSet.eot?2wlya6#iefix") format("embedded-opentype"), url("../webfonts/TannerIconSet.ttf?2wlya6") format("truetype"), url("../webfonts/TannerIconSet.woff?2wlya6") format("woff"), url("../webfonts/TannerIconSet.svg?2wlya6#TannerIconSet") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tannerIconSet' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-a-z:before {
  content: "\e900"; }

.icon-arrows-horizontal:before {
  content: "\e901"; }

.icon-arrows-vertical:before {
  content: "\e902"; }

.icon-command:before {
  content: "\e903"; }

.icon-connect:before {
  content: "\e904"; }

.icon-fade:before {
  content: "\e905"; }

.icon-insert:before {
  content: "\e906"; }

.icon-launch:before {
  content: "\e907"; }

.icon-major-to-minor:before {
  content: "\e908"; }

.icon-maximize:before {
  content: "\e909"; }

.icon-migrate:before {
  content: "\e90a"; }

.icon-minimize:before {
  content: "\e90b"; }

.icon-minor-to-major:before {
  content: "\e90c"; }

.icon-move:before {
  content: "\e90d"; }

.icon-new-tab:before {
  content: "\e90e"; }

.icon-option:before {
  content: "\e90f"; }

.icon-pin:before {
  content: "\e910"; }

.icon-renew:before {
  content: "\e911"; }

.icon-repeat:before {
  content: "\e912"; }

.icon-reply:before {
  content: "\e913"; }

.icon-reset:before {
  content: "\e914"; }

.icon-restart:before {
  content: "\e915"; }

.icon-rotate:before {
  content: "\e916"; }

.icon-run:before {
  content: "\e917"; }

.icon-scan:before {
  content: "\e918"; }

.icon-shift:before {
  content: "\e919"; }

.icon-split-screen:before {
  content: "\e91a"; }

.icon-z-a:before {
  content: "\e91b"; }

.icon-hand-cursor:before {
  content: "\e91c"; }

.icon-accessibility:before {
  content: "\e91d"; }

.icon-activity:before {
  content: "\e91e"; }

.icon-arrival:before {
  content: "\e91f"; }

.icon-at:before {
  content: "\e920"; }

.icon-bee:before {
  content: "\e921"; }

.icon-blog:before {
  content: "\e922"; }

.icon-bluetooth:before {
  content: "\e923"; }

.icon-bolt:before {
  content: "\e924"; }

.icon-bookmark:before {
  content: "\e925"; }

.icon-calculator:before {
  content: "\e926"; }

.icon-calendar:before {
  content: "\e927"; }

.icon-camera-action:before {
  content: "\e928"; }

.icon-camera:before {
  content: "\e929"; }

.icon-car:before {
  content: "\e92a"; }

.icon-catalog:before {
  content: "\e92b"; }

.icon-chat:before {
  content: "\e92c"; }

.icon-chip:before {
  content: "\e92d"; }

.icon-cloud:before {
  content: "\e92e"; }

.icon-cloud-download:before {
  content: "\e92f"; }

.icon-lightning:before {
  content: "\e930"; }

.icon-rain:before {
  content: "\e931"; }

.icon-snow:before {
  content: "\e932"; }

.icon-upload:before {
  content: "\e933"; }

.icon-code:before {
  content: "\e934"; }

.icon-compass:before {
  content: "\e935"; }

.icon-debug:before {
  content: "\e936"; }

.icon-delivery-truck:before {
  content: "\e937"; }

.icon-departure:before {
  content: "\e938"; }

.icon-desktop:before {
  content: "\e939"; }

.icon-email:before {
  content: "\e93a"; }

.icon-event:before {
  content: "\e93b"; }

.icon-filter:before {
  content: "\e93c"; }

.icon-fingerprint-recognition:before {
  content: "\e93d"; }

.icon-forum:before {
  content: "\e93e"; }

.icon-globe:before {
  content: "\e93f"; }

.icon-home:before {
  content: "\e940"; }

.icon-hotel:before {
  content: "\e941"; }

.icon-idea:before {
  content: "\e942"; }

.icon-industry:before {
  content: "\e943"; }

.icon-location:before {
  content: "\e944"; }

.icon-map:before {
  content: "\e945"; }

.icon-mobile-add:before {
  content: "\e946"; }

.icon-check:before {
  content: "\e947"; }

.icon-mobile-download:before {
  content: "\e948"; }

.icon-mobile:before {
  content: "\e949"; }

.icon-no-activity:before {
  content: "\e94a"; }

.icon-password:before {
  content: "\e94b"; }

.icon-plane:before {
  content: "\e94c"; }

.icon-printer:before {
  content: "\e94d"; }

.icon-purchase:before {
  content: "\e94e"; }

.icon-recommend:before {
  content: "\e94f"; }

.icon-request-quote:before {
  content: "\e950"; }

.icon-restaurant:before {
  content: "\e951"; }

.icon-rocket:before {
  content: "\e952"; }

.icon-rss:before {
  content: "\e953"; }

.icon-schedule:before {
  content: "\e954"; }

.icon-search:before {
  content: "\e955"; }

.icon-settings:before {
  content: "\e956"; }

.icon-share:before {
  content: "\e957"; }

.icon-bag:before {
  content: "\e958"; }

.icon-cart:before {
  content: "\e959"; }

.icon-shuttle:before {
  content: "\e95a"; }

.icon-tag:before {
  content: "\e95b"; }

.icon-task:before {
  content: "\e95c"; }

.icon-taxi:before {
  content: "\e95d"; }

.icon-temperature:before {
  content: "\e95e"; }

.icon-terminal:before {
  content: "\e95f"; }

.icon-thumbsup:before {
  content: "\e960"; }

.icon-ticket:before {
  content: "\e961"; }

.icon-time:before {
  content: "\e962"; }

.icon-tool:before {
  content: "\e963"; }

.icon-translate:before {
  content: "\e964"; }

.icon-van:before {
  content: "\e965"; }

.icon-view:before {
  content: "\e966"; }

.icon-vpn:before {
  content: "\e967"; }

.icon-watson:before {
  content: "\e968"; }

.icon-wikis:before {
  content: "\e969"; }

.icon-arrow-cursor:before {
  content: "\e96a"; }

.icon-misuse:before {
  content: "\e96b"; }

.icon-feedback:before {
  content: "\e96c"; }

.icon-align-center:before {
  content: "\e96d"; }

.icon-align-left:before {
  content: "\e96e"; }

.icon-align-right:before {
  content: "\e96f"; }

.icon-attachment:before {
  content: "\e970"; }

.icon-bold:before {
  content: "\e971"; }

.icon-color:before {
  content: "\e972"; }

.icon-creation:before {
  content: "\e973"; }

.icon-crop:before {
  content: "\e974"; }

.icon-cut:before {
  content: "\e975"; }

.icon-delete:before {
  content: "\e976"; }

.icon-edit:before {
  content: "\e977"; }

.icon-fill:before {
  content: "\e978"; }

.icon-highlight:before {
  content: "\e979"; }

.icon-image:before {
  content: "\e97a"; }

.icon-indent-less:before {
  content: "\e97b"; }

.icon-indent-more:before {
  content: "\e97c"; }

.icon-indent:before {
  content: "\e97d"; }

.icon-italic:before {
  content: "\e97e"; }

.icon-link:before {
  content: "\e97f"; }

.icon-save:before {
  content: "\e980"; }

.icon-scale:before {
  content: "\e981"; }

.icon-selection:before {
  content: "\e982"; }

.icon-spell-check:before {
  content: "\e983"; }

.icon-underline:before {
  content: "\e984"; }

.icon-api:before {
  content: "\e985"; }

.icon-application:before {
  content: "\e986"; }

.icon-copy:before {
  content: "\e987"; }

.icon-document-add:before {
  content: "\e988"; }

.icon-document:before {
  content: "\e989"; }

.icon-paste:before {
  content: "\e98a"; }

.icon-subtract1:before {
  content: "\e98b"; }

.icon-tasks:before {
  content: "\e98c"; }

.icon-file-download:before {
  content: "\e98d"; }

.icon-dvr:before {
  content: "\e98e"; }

.icon-export:before {
  content: "\e98f"; }

.icon-folder-add:before {
  content: "\e990"; }

.icon-folder:before {
  content: "\e991"; }

.icon-gif:before {
  content: "\e992"; }

.icon-hd-filled:before {
  content: "\e993"; }

.icon-hd:before {
  content: "\e994"; }

.icon-hdr:before {
  content: "\e995"; }

.icon-list-bullet:before {
  content: "\e996"; }

.icon-list-check:before {
  content: "\e997"; }

.icon-list-numbered:before {
  content: "\e998"; }

.icon-panel-expansion:before {
  content: "\e999"; }

.icon-pdf:before {
  content: "\e99a"; }

.icon-popup:before {
  content: "\e99b"; }

.icon-scale1:before {
  content: "\e99c"; }

.icon-table-of-contents:before {
  content: "\e99d"; }

.icon-template:before {
  content: "\e99e"; }

.icon-tif:before {
  content: "\e99f"; }

.icon-upload1:before {
  content: "\e9a0"; }

.icon-workspace:before {
  content: "\e9a1"; }

.icon-unstructured:before {
  content: "\e9a2"; }

.icon-analytics:before {
  content: "\e9a3"; }

.icon-archive:before {
  content: "\e9a4"; }

.icon-base:before {
  content: "\e9a5"; }

.icon-bar:before {
  content: "\e9a6"; }

.icon-bubble:before {
  content: "\e9a7"; }

.icon-line:before {
  content: "\e9a8"; }

.icon-network:before {
  content: "\e9a9"; }

.icon-venn-diagram:before {
  content: "\e9aa"; }

.icon-check1:before {
  content: "\e9ab"; }

.icon-data-1:before {
  content: "\e9ac"; }

.icon-data-2:before {
  content: "\e9ad"; }

.icon-diagram:before {
  content: "\e9ae"; }

.icon-data-error:before {
  content: "\e9af"; }

.icon-flow:before {
  content: "\e9b0"; }

.icon-parent-child:before {
  content: "\e9b1"; }

.icon-presentation:before {
  content: "\e9b2"; }

.icon-report:before {
  content: "\e9b3"; }

.icon-set:before {
  content: "\e9b4"; }

.icon-structured:before {
  content: "\e9b5"; }

.icon-table-1:before {
  content: "\e9b6"; }

.icon-table-2:before {
  content: "\e9b7"; }

.icon-back:before {
  content: "\e9b8"; }

.icon-forward:before {
  content: "\e9b9"; }

.icon-pause-button:before {
  content: "\e9ba"; }

.icon-pause:before {
  content: "\e9bb"; }

.icon-power:before {
  content: "\e9bc"; }

.icon-record:before {
  content: "\e9bd"; }

.icon-start-button:before {
  content: "\e9be"; }

.icon-start:before {
  content: "\e9bf"; }

.icon-stop-button:before {
  content: "\e9c0"; }

.icon-stop:before {
  content: "\e9c1"; }

.icon-video-add:before {
  content: "\e9c2"; }

.icon-video-chat:before {
  content: "\e9c3"; }

.icon-video-off:before {
  content: "\e9c4"; }

.icon-video-on:before {
  content: "\e9c5"; }

.icon-volume-down:before {
  content: "\e9c6"; }

.icon-volume-mute:before {
  content: "\e9c7"; }

.icon-volume-up:before {
  content: "\e9c8"; }

.icon-user:before {
  content: "\e9c9"; }

.icon-admin:before {
  content: "\e9ca"; }

.icon-avatar:before {
  content: "\e9cb"; }

.icon-collaborate:before {
  content: "\e9cc"; }

.icon-activated-filled:before {
  content: "\e9cd"; }

.icon-exit:before {
  content: "\e9ce"; }

.icon-activated:before {
  content: "\e9cf"; }

.icon-face-add:before {
  content: "\e9d0"; }

.icon-dissatisfied-filled:before {
  content: "\e9d1"; }

.icon-dissatisfied:before {
  content: "\e9d3"; }

.icon-dizzy-filled:before {
  content: "\e9d4"; }

.icon-dizzy:before {
  content: "\e9d6"; }

.icon-neutral-filled:before {
  content: "\e9d7"; }

.icon-neutral:before {
  content: "\e9d9"; }

.icon-pending-filled:before {
  content: "\e9da"; }

.icon-pending:before {
  content: "\e9dc"; }

.icon-satisfied-filled:before {
  content: "\e9dd"; }

.icon-satisfied:before {
  content: "\e9df"; }

.icon-wink-filled:before {
  content: "\e9e0"; }

.icon-wink:before {
  content: "\e9e2"; }

.icon-follow:before {
  content: "\e9e3"; }

.icon-group:before {
  content: "\e9e4"; }

.icon-online:before {
  content: "\e9e5"; }

.icon-partnership:before {
  content: "\e9e6"; }

.icon-person:before {
  content: "\e9e7"; }

.icon-role:before {
  content: "\e9e8"; }

.icon-checkbox-undeterminate-filled:before {
  content: "\e9e9"; }

.icon-asleep:before {
  content: "\e9ea"; }

.icon-checkbox-checked-filled:before {
  content: "\e9eb"; }

.icon-checkbox-checked:before {
  content: "\e9ed"; }

.icon-checkbox-unchecked:before {
  content: "\e9ee"; }

.icon-checkbox-undeterminate:before {
  content: "\e9ef"; }

.icon-column:before {
  content: "\e9f0"; }

.icon-favorite-filled:before {
  content: "\e9f1"; }

.icon-favorite:before {
  content: "\e9f2"; }

.icon-grid:before {
  content: "\e9f3"; }

.icon-light:before {
  content: "\e9f4"; }

.icon-list:before {
  content: "\e9f5"; }

.icon-locked:before {
  content: "\e9f6"; }

.icon-microphone-off:before {
  content: "\e9f7"; }

.icon-microphone:before {
  content: "\e9f8"; }

.icon-notification-off:before {
  content: "\e9f9"; }

.icon-notification:before {
  content: "\e9fa"; }

.icon-phone-off:before {
  content: "\e9fb"; }

.icon-phone:before {
  content: "\e9fc"; }

.icon-radio-button-checked:before {
  content: "\e9fd"; }

.icon-radio-button-unchecked:before {
  content: "\e9fe"; }

.icon-row:before {
  content: "\e9ff"; }

.icon-star-filled:before {
  content: "\ea00"; }

.icon-star-half:before {
  content: "\ea01"; }

.icon-star:before {
  content: "\ea02"; }

.icon-unlocked:before {
  content: "\ea03"; }

.icon-mode-1:before {
  content: "\ea04"; }

.icon-mode-2:before {
  content: "\ea05"; }

.icon-loading:before {
  content: "\ea06"; }

.icon-checkmark-filled:before {
  content: "\ea07"; }

.icon-checkmark:before {
  content: "\ea09"; }

.icon-error-filled:before {
  content: "\ea0a"; }

.icon-error:before {
  content: "\ea0c"; }

.icon-help-filled:before {
  content: "\ea0d"; }

.icon-help:before {
  content: "\ea0f"; }

.icon-info-filled:before {
  content: "\ea10"; }

.icon-info:before {
  content: "\ea12"; }

.icon-misuse-filled:before {
  content: "\ea13"; }

.icon-warning-alt-filled:before {
  content: "\ea15"; }

.icon-warning-alt:before {
  content: "\ea17"; }

.icon-warning-filled:before {
  content: "\ea18"; }

.icon-warning:before {
  content: "\ea1a"; }

.icon-delicious:before {
  content: "\ea1b"; }

.icon-digg:before {
  content: "\ea1c"; }

.icon-facebook:before {
  content: "\ea1d"; }

.icon-flickr:before {
  content: "\ea1e"; }

.icon-github:before {
  content: "\ea1f"; }

.icon-linkedin:before {
  content: "\ea20"; }

.icon-livestream:before {
  content: "\ea21"; }

.icon-pinterest:before {
  content: "\ea22"; }

.icon-quora:before {
  content: "\ea23"; }

.icon-skype:before {
  content: "\ea24"; }

.icon-slack:before {
  content: "\ea25"; }

.icon-snapchat:before {
  content: "\ea26"; }

.icon-stumbleupon:before {
  content: "\ea27"; }

.icon-tumblr:before {
  content: "\ea28"; }

.icon-twitter:before {
  content: "\ea29"; }

.icon-wykop:before {
  content: "\ea2a"; }

.icon-xing:before {
  content: "\ea2b"; }

.icon-yahoo:before {
  content: "\ea2c"; }

.icon-youtube:before {
  content: "\ea2d"; }

.icon-add:before {
  content: "\ea2e"; }

.icon-app-switcher:before {
  content: "\ea2f"; }

.icon-arrow-down-left:before {
  content: "\ea30"; }

.icon-arrow-down-right:before {
  content: "\ea31"; }

.icon-arrow-down:before {
  content: "\ea32"; }

.icon-arrow-left:before {
  content: "\ea33"; }

.icon-arrow-right:before {
  content: "\ea34"; }

.icon-arrow-up-left:before {
  content: "\ea35"; }

.icon-arrow-up-right:before {
  content: "\ea36"; }

.icon-arrow-up:before {
  content: "\ea37"; }

.icon-caret-down:before {
  content: "\ea38"; }

.icon-caret-left:before {
  content: "\ea39"; }

.icon-caret-right:before {
  content: "\ea3a"; }

.icon-caret-sort:before {
  content: "\ea3b"; }

.icon-caret-up:before {
  content: "\ea3c"; }

.icon-chevron-down:before {
  content: "\ea3d"; }

.icon-chevron-left:before {
  content: "\ea3e"; }

.icon-chevron-right:before {
  content: "\ea3f"; }

.icon-chevron-up:before {
  content: "\ea40"; }

.icon-chrevron-sort:before {
  content: "\ea41"; }

.icon-close:before {
  content: "\ea42"; }

.icon-down-to-bottom:before {
  content: "\ea43"; }

.icon-draggable:before {
  content: "\ea44"; }

.icon-ellipses:before {
  content: "\ea45"; }

.icon-first-page:before {
  content: "\ea46"; }

.icon-last-page:before {
  content: "\ea47"; }

.icon-menu:before {
  content: "\ea48"; }

.icon-overflow-menu:before {
  content: "\ea49"; }

.icon-subtract:before {
  content: "\ea4a"; }

.icon-up-to-top:before {
  content: "\ea4b"; }

.icon-zoom-in:before {
  content: "\ea4c"; }

.icon-zoom-out:before {
  content: "\ea4d"; }

.icon-exchange:before {
  content: "\ea4e"; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a:active,
a:link,
a:focus,
a:visited,
a:hover,
button:active,
button:link,
button:focus,
button:visited,
button:hover,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  outline: 0 !important; }

.top-menu {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.16); }
  .top-menu .bg-light {
    background-color: transparent !important;
    height: 69px; }
    .top-menu .bg-light .navbar-brand {
      margin-right: 60px; }
      .top-menu .bg-light .navbar-brand img {
        max-height: 50px; }
    .top-menu .bg-light .navbar-nav .dropdown-toggle:after {
      border: 0;
      content: "\ea3d";
      font-family: 'tannerIconSet'; }
    .top-menu .bg-light .navbar-nav .nav-item .nav-link {
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      padding: 8px 12px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center; }
    .top-menu .bg-light .navbar-nav .nav-item .access {
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      padding: 8px 14px;
      text-decoration: underline; }
    .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu {
      border-radius: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      top: 50px;
      z-index: 2; }
      .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .row {
        margin: 0px; }
      .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item {
        font-size: 12px;
        line-height: normal;
        padding: 0;
        margin-bottom: 10px;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -o-transition: .3s all;
        -ms-transition: .3s all;
        transition: .3s all; }
        .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
          background-color: transparent;
          color: #62cb32; }
        .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item:last-child {
          margin-bottom: 0; }
      .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .item {
        padding: 0px 8px; }
    .top-menu .bg-light .navbar-nav .dropdown .megamenu {
      min-width: 600px;
      padding: 30px 25px; }
    .top-menu .bg-light .navbar-nav .dropdown .padding_ddmenu {
      padding: 30px 25px; }
    .top-menu .bg-light .navbar-nav .dropdown.show {
      position: relative; }
      .top-menu .bg-light .navbar-nav .dropdown.show:before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        height: 4px;
        width: 100%;
        background-color: #62cb32; }
  @media screen and (max-width: 991px) {
    .top-menu .container {
      margin: 0px;
      padding: 0px;
      width: 100%;
      max-width: none; }
      .top-menu .container .row {
        margin: 0; }
        .top-menu .container .row .col {
          padding: 0; } }

footer {
  color: white; }
  footer .top-footer {
    background-color: #34495e;
    padding: 26px 0px; }
    footer .top-footer .item h4 {
      border-bottom: 2px solid #62cb32;
      padding-bottom: 8px;
      margin-bottom: 18px; }
    footer .top-footer .item ul {
      list-style: none; }
      footer .top-footer .item ul li a {
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: normal; }
    footer .top-footer .item ul.list_lb li {
      border-bottom: 2px dashed #8c8c8c;
      padding: 9px 0px; }
      footer .top-footer .item ul.list_lb li:first-child {
        padding-top: 0px; }
      footer .top-footer .item ul.list_lb li a .lb_title {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 1px; }
      footer .top-footer .item ul.list_lb li a .dates {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: normal; }
    footer .top-footer .item ul.list_ul li {
      margin-bottom: 15px; }
      footer .top-footer .item ul.list_ul li a {
        font-size: 12px;
        font-weight: 400;
        line-height: normal; }
    footer .top-footer .item ul.list_cu li {
      margin-bottom: 6px; }
      footer .top-footer .item ul.list_cu li a {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.83; }
    footer .top-footer .item:nth-child(4) h4 {
      border: 0; }
  footer .bottom-footer {
    background-color: #62cb32;
    padding: 7px 0px;
    text-align: center; }
    footer .bottom-footer h5 {
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0px; }

body {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; }

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: normal; }

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  color: #666666; }

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: normal; }

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal; }

h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal; }

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: normal; }

p {
  line-height: 1.6em !important; }

small {
  font-size: 12px;
  line-height: normal; }

.mb-6 {
  margin-bottom: 2.5rem !important; }

a {
  color: #62cb32; }
  a:hover {
    color: #62cb32; }

.pt-40 {
  padding-top: 40px !important; }

.ptb-50 {
  padding-bottom: 50px !important;
  padding-top: 50px !important; }

.plr-32 {
  padding-left: 32px !important;
  padding-right: 32px !important; }

.ptb-40 {
  padding-bottom: 40px !important;
  padding-top: 40px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.pd_mobile_cero {
  padding: 0; }

.pd-0 {
  padding: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.wb {
  border-bottom: 0 !important; }

.p_bb {
  padding-bottom: 142px; }

.forms_mb {
  margin-bottom: 43px; }

.box_title_internal_pages {
  border-bottom: solid 1px #e7e7e7; }

.bg_dash {
  background-color: #f1f3f6;
  border: 0; }
  .bg_dash .title_internal_pages h1 {
    font-weight: 400;
    line-height: normal;
    color: #34495e; }
    .bg_dash .title_internal_pages h1 span {
      color: #34495e;
      margin-right: 10px; }
  .bg_dash .title_internal_pages h1.forms_trial {
    color: #666666;
    font-weight: 700;
    line-height: normal; }

.title_internal_pages {
  min-height: 100px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  justify-content: space-between;
  -webkit-justify-content: space-between; }
  .title_internal_pages h1 {
    margin-bottom: 0; }
    .title_internal_pages h1 span {
      color: #34495e;
      margin-right: 10px; }
  .title_internal_pages .btn {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    height: 50px;
    border-radius: 4px;
    min-width: 331px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    -webkit-justify-content: center; }
    .title_internal_pages .btn [class^="icon-"], .title_internal_pages .btn [class*=" icon-"] {
      color: white;
      margin-right: 10px; }
    .title_internal_pages .btn:hover [class^="icon-"], .title_internal_pages .btn:hover [class*=" icon-"] {
      color: #9b59b6; }
  .title_internal_pages .btn-arrow-title {
    height: 27px;
    min-width: 27px;
    padding: 0;
    position: absolute;
    top: auto;
    bottom: auto;
    left: -42px;
    justify-content: center;
    -webkit-justify-content: center; }
    .title_internal_pages .btn-arrow-title [class^="icon-"], .title_internal_pages .btn-arrow-title [class*=" icon-"] {
      font-size: .9em;
      margin: 0; }

.btn-success {
  background-color: #62cb32;
  border-color: #62cb32;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: white;
  height: 36px;
  min-width: 187px; }
  .btn-success:hover {
    background-color: white;
    border-color: #62cb32;
    color: #62cb32; }

.btn_pay {
  min-width: 405px;
  height: 38px;
  font-size: 22px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: white; }

.btn-purple {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6; }
  .btn-purple [class^="icon-"], .btn-purple [class*=" icon-"] {
    margin-right: 10px; }
  .btn-purple:hover {
    background-color: white;
    border-color: #9b59b6;
    color: #9b59b6; }

.btn-green {
  color: #fff;
  background-color: #62cb32;
  border-color: #62cb32; }
  .btn-green [class^="icon-"], .btn-green [class*=" icon-"] {
    margin-right: 10px; }
  .btn-green:hover {
    background-color: white;
    border-color: #62cb32;
    color: #62cb32; }

.btn-danger {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c; }
  .btn-danger:hover {
    background-color: white;
    border-color: #e74c3c;
    color: #e74c3c; }

.navbar-toggler {
  border-radius: 0; }

.home-slider {
  position: relative; }
  .home-slider .swiper-container .swiper-wrapper .swiper-slide {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 562px;
    position: relative; }
    .home-slider .swiper-container .swiper-wrapper .swiper-slide:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2); }
    .home-slider .swiper-container .swiper-wrapper .swiper-slide .container {
      position: relative;
      z-index: 2; }
    .home-slider .swiper-container .swiper-wrapper .swiper-slide .row {
      height: 562px; }
    .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content {
      bottom: 125px;
      color: white;
      left: 33px;
      position: absolute;
      z-index: 9999; }
      .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2 {
        background-color: #34495e;
        color: white;
        display: table;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
        padding: 7px 13px 0px 21px;
        position: relative; }
        .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2:after {
          content: "";
          background-color: #9b59b6;
          position: absolute;
          top: 7px;
          left: 7px;
          width: 100%;
          height: 100%;
          z-index: -1; }
        .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2:last-child {
          padding-bottom: 7px; }
        .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2:nth-child(2) {
          margin-left: 10px; }
        .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2:nth-child(3) {
          margin-left: 20px; }
  .home-slider .swiper-container .swiper-button-next,
  .home-slider .swiper-container .swiper-button-prev {
    color: rgba(255, 255, 255, 0.85); }
    .home-slider .swiper-container .swiper-button-next:hover,
    .home-slider .swiper-container .swiper-button-prev:hover {
      color: white; }
  .home-slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
    background: #FFF; }
  .home-slider .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #34495e; }

.ctn_title_home {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .ctn_title_home .title_home {
    background-color: white; }
    .ctn_title_home .title_home h1 {
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: normal;
      color: #666666;
      padding-top: 26px;
      text-align: center; }

.presentation {
  margin-top: 39px;
  padding-bottom: 25px; }
  .presentation .content p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666; }

.content_page {
  padding: 25px 0px; }
  .content_page .title h2 {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 30px; }
    .content_page .title h2 span {
      color: #34495e;
      margin-right: 10px; }
  .content_page .box_content {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 4px solid #9b59b6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.16);
    min-height: 242px;
    padding: 29px 22px; }
    .content_page .box_content p {
      line-height: normal;
      color: #666666; }
    .content_page .box_content .buttons {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      width: 100%; }
      .content_page .box_content .buttons .link {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        color: #666666;
        margin-right: 20px; }
    .content_page .box_content ul.list_inside_box_content {
      list-style: none; }
      .content_page .box_content ul.list_inside_box_content li {
        border-bottom: solid 1px #e7e7e7;
        font-size: 16px;
        line-height: normal;
        padding: 20px 0px; }
        .content_page .box_content ul.list_inside_box_content li .additional_info {
          display: block;
          margin-top: 25px;
          width: 100%;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          flex-flow: row wrap;
          -webkit-flex-flow: row wrap;
          align-items: center;
          -webkit-align-items: center;
          align-content: center;
          -webkit-align-content: center;
          justify-content: flex-start;
          -webkit-justify-content: flex-start; }
          .content_page .box_content ul.list_inside_box_content li .additional_info .info-icon {
            color: #9b59b6;
            font-size: 2.2em;
            margin-right: 24px; }
          .content_page .box_content ul.list_inside_box_content li .additional_info .btn-success {
            margin-left: 9px;
            margin-right: 12px;
            min-width: 154px; }
          .content_page .box_content ul.list_inside_box_content li .additional_info .txt {
            width: calc(100% - 60px); }
    .content_page .box_content .forms_box {
      padding: 24px 15px; }
      .content_page .box_content .forms_box label {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between; }
        .content_page .box_content .forms_box label .obligatory_field {
          color: #e74c3c; }
      .content_page .box_content .forms_box .custom-control-label {
        font-weight: 400; }
        .content_page .box_content .forms_box .custom-control-label:before {
          box-shadow: none; }
        .content_page .box_content .forms_box .custom-control-label:focus {
          box-shadow: none;
          outline: 0; }
      .content_page .box_content .forms_box .form-control {
        color: #666666;
        font-size: 16px;
        line-height: normal; }
        .content_page .box_content .forms_box .form-control::-webkit-input-placeholder {
          opacity: 0.5;
          font-size: 16px;
          line-height: normal;
          color: #666666; }
        .content_page .box_content .forms_box .form-control:-ms-input-placeholder {
          opacity: 0.5;
          font-size: 16px;
          line-height: normal;
          color: #666666; }
        .content_page .box_content .forms_box .form-control::placeholder {
          opacity: 0.5;
          font-size: 16px;
          line-height: normal;
          color: #666666; }
        .content_page .box_content .forms_box .form-control:focus {
          background-color: rgba(231, 76, 60, 0.08);
          border-color: #e67e22;
          box-shadow: none; }
      .content_page .box_content .forms_box .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #e67e22;
        background-color: #e67e22; }
      .content_page .box_content .forms_box .txt_under_fields {
        display: block;
        font-size: 12px;
        line-height: normal; }
      .content_page .box_content .forms_box .btn {
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        min-width: 142px; }
      .content_page .box_content .forms_box .btn-login {
        min-width: 96px;
        padding: 6px 26px; }
      .content_page .box_content .forms_box .help-block ul {
        list-style: none; }
        .content_page .box_content .forms_box .help-block ul li {
          font-size: 12px; }
      .content_page .box_content .forms_box .txt_in_box_button {
        margin-top: 10px; }
      .content_page .box_content .forms_box .multiple_list_select {
        padding: 0; }
        .content_page .box_content .forms_box .multiple_list_select option {
          background-color: #FFFFFF;
          padding: 5px 15px;
          text-decoration: underline; }
          .content_page .box_content .forms_box .multiple_list_select option:nth-child(odd) {
            background-color: #dadada; }
      .content_page .box_content .forms_box .btn-list-products {
        display: table;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        margin: 0 auto;
        padding: 6px 15px; }
      .content_page .box_content .forms_box .trial-msg-title {
        font-weight: 400;
        margin-bottom: 30px; }
      .content_page .box_content .forms_box .btn-submit-trial {
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        min-width: 232px; }
      .content_page .box_content .forms_box .box_shared {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: flex-start;
        -webkit-justify-content: flex-start; }
        .content_page .box_content .forms_box .box_shared .col-indoors {
          padding-left: 0; }
      .content_page .box_content .forms_box p {
        font-size: 16px;
        font-weight: normal;
        color: #666666;
        margin: 0px; }
        .content_page .box_content .forms_box p span {
          font-weight: bold; }
      .content_page .box_content .forms_box .card_img {
        margin-top: 128px;
        width: 300px;
        height: 100px; }
    .content_page .box_content .forms_box.warning input.form-control,
    .content_page .box_content .forms_box.warning select.form-control,
    .content_page .box_content .forms_box.warning textarea.form-control,
    .content_page .box_content .forms_box.error input.form-control,
    .content_page .box_content .forms_box.error select.form-control,
    .content_page .box_content .forms_box.error textarea.form-control {
      border-color: #e74c3c; }
    .content_page .box_content .forms_box.purple_style .form-control:focus {
      border-color: #9b59b6;
      box-shadow: none; }
    .content_page .box_content .forms_box.green_style .form-control:focus {
      border-color: #62cb32;
      box-shadow: none; }
    .content_page .box_content .border_bottom_forms_fields {
      border-bottom: 1px solid #e7e7e7; }
      .content_page .box_content .border_bottom_forms_fields:last-child {
        border-bottom: 0; }
    .content_page .box_content .message_form_box {
      margin-top: 10px; }
      .content_page .box_content .message_form_box .alert {
        border-radius: 4px;
        color: white;
        min-height: 62px;
        position: relative;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: flex-start;
        -webkit-justify-content: flex-start; }
        .content_page .box_content .message_form_box .alert .icon_info {
          font-size: 2.2em;
          margin-right: 20px; }
        .content_page .box_content .message_form_box .alert button.close {
          color: #fff;
          font-size: 2em;
          text-shadow: none;
          position: absolute;
          right: 14px;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center; }
          .content_page .box_content .message_form_box .alert button.close:hover, .content_page .box_content .message_form_box .alert button.close:focus {
            text-decoration: none; }
        .content_page .box_content .message_form_box .alert .txt_message {
          max-width: calc(100% - (36px + 32px)); }
      .content_page .box_content .message_form_box .alert-success {
        background-color: #62cb32; }
      .content_page .box_content .message_form_box .alert-danger {
        background-color: #e74c3c; }
    .content_page .box_content .info_title_box {
      margin-bottom: 20px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: space-between;
      -webkit-justify-content: space-between; }
      .content_page .box_content .info_title_box a:not(.btn) {
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        margin-left: 10px; }
      .content_page .box_content .info_title_box .btn {
        min-width: 121px;
        padding: 6px 26px 8px; }
      .content_page .box_content .info_title_box a.edit_profile_wb {
        color: #34495e;
        font-size: 14px;
        font-weight: 600;
        line-height: normal; }
    .content_page .box_content .info_activity_box {
      border-bottom: solid 1px #e7e7e7;
      padding: 5px 15px 15px;
      margin-bottom: 15px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: space-between;
      -webkit-justify-content: space-between; }
      .content_page .box_content .info_activity_box .info .text_data {
        margin-left: 36px; }
      .content_page .box_content .info_activity_box .btn {
        min-width: 121px;
        padding: 6px 26px 8px; }
    .content_page .box_content .row:last-child .info_activity_box {
      border-bottom: 0; }
    .content_page .box_content .border_bottom_title {
      border-bottom: solid 1px #e7e7e7;
      padding-bottom: 15px; }
    .content_page .box_content .table_trial {
      margin-bottom: 0px; }
      .content_page .box_content .table_trial thead {
        background-color: #fafafa; }
        .content_page .box_content .table_trial thead th {
          vertical-align: middle; }
          .content_page .box_content .table_trial thead th [class^="icon-"], .content_page .box_content .table_trial thead th [class*=" icon-"] {
            display: inline-block; }
      .content_page .box_content .table_trial thead th, .content_page .box_content .table_trial thead td, .content_page .box_content .table_trial tbody th, .content_page .box_content .table_trial tbody td {
        color: #666666; }
  .content_page .content_space {
    padding: 29px 55px !important; }
  .content_page .box_content_clean {
    min-height: 0;
    padding: 20px; }
  .content_page .box_content_bt_orange {
    border-color: #e67e22; }
  .content_page .box_content_bt_purple {
    border-color: #9b59b6; }
  .content_page .box_content_bt_blue {
    border-color: #3498db; }
  .content_page .box_content_bt_green {
    border-color: #62cb32; }
  .content_page .box_image {
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 242px;
    position: relative; }
  .content_page .reg_children {
    background: url("../images/bg_regch.jpg") no-repeat; }
  .content_page .help_corgev {
    background: url("../images/bg_helpevnt.jpg") no-repeat; }
  .content_page .other_sections h4 {
    margin-bottom: 15px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start; }
    .content_page .other_sections h4 span {
      color: #34495e;
      margin-right: 10px; }
  .content_page .other_sections p a {
    color: #62cb32; }
  .content_page .other_sections .box_content {
    min-height: 0;
    padding: 20px; }
    .content_page .other_sections .box_content p:last-child {
      margin-bottom: 0px; }
    .content_page .other_sections .box_content .results_box {
      margin-bottom: 22px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: flex-start;
      -webkit-justify-content: flex-start; }
      .content_page .other_sections .box_content .results_box .date_left {
        background-color: #3498db;
        height: 70px;
        width: 91px;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        align-items: center;
        -webkit-align-items: center;
        align-content: center;
        -webkit-align-content: center;
        justify-content: center;
        -webkit-justify-content: center; }
        .content_page .other_sections .box_content .results_box .date_left .item {
          color: white;
          font-size: 12px;
          font-weight: 700;
          line-height: normal; }
      .content_page .other_sections .box_content .results_box .info {
        padding: 10px 7px;
        width: calc(100% - 91px); }
        .content_page .other_sections .box_content .results_box .info .title {
          display: block;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 1px; }
        .content_page .other_sections .box_content .results_box .info .text {
          font-size: 14px;
          line-height: normal;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          flex-flow: row wrap;
          -webkit-flex-flow: row wrap;
          align-items: center;
          -webkit-align-items: center;
          align-content: center;
          -webkit-align-content: center;
          justify-content: space-between;
          -webkit-justify-content: space-between; }
          .content_page .other_sections .box_content .results_box .info .text a {
            color: #62cb32;
            font-size: 12px;
            line-height: normal; }
      .content_page .other_sections .box_content .results_box:last-child {
        margin-bottom: 0; }
    .content_page .other_sections .box_content ul.last_news {
      list-style: none; }
      .content_page .other_sections .box_content ul.last_news li {
        border-bottom: 1px dashed #e7e7e7;
        padding: 20px 0px; }
        .content_page .other_sections .box_content ul.last_news li a {
          color: #666666; }
          .content_page .other_sections .box_content ul.last_news li a .title {
            display: block;
            font-size: 16px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px; }
          .content_page .other_sections .box_content ul.last_news li a .text {
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: normal; }
          .content_page .other_sections .box_content ul.last_news li a .published {
            display: block;
            font-size: 12px;
            line-height: normal;
            margin-top: 10px; }
          .content_page .other_sections .box_content ul.last_news li a:hover {
            text-decoration: none; }
            .content_page .other_sections .box_content ul.last_news li a:hover .title {
              text-decoration: underline; }
  .content_page .other_sections .logos_content {
    padding: 30px 0.5rem;
    margin-bottom: 35px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .content_page .other_sections .logos_content figure img {
      max-height: 140px;
      max-width: 160px; }
  .content_page .other_sections .ln_cont {
    padding: 20px 0px; }
  .content_page .other_sections p.text_wlink {
    font-size: 16px;
    line-height: 1.56;
    margin-bottom: 50px; }
  .content_page .without_shadow {
    box-shadow: none; }
  .content_page .without_radius {
    border-radius: 0; }
  .content_page .without_bordertop {
    border-top: 0; }
  .content_page .dw_box .download_box {
    border-radius: 5px;
    overflow: hidden;
    color: white;
    height: 82px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    -webkit-justify-content: center; }
    .content_page .dw_box .download_box .left_side {
      background-color: #9b59b6;
      height: 100%;
      width: 30%;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center; }
      .content_page .dw_box .download_box .left_side [class^="icon-"], .content_page .dw_box .download_box .left_side [class*=" icon-"] {
        font-size: 2.1em; }
    .content_page .dw_box .download_box .right_side {
      background-color: #62cb32;
      height: 100%;
      width: 70%;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center; }
      .content_page .dw_box .download_box .right_side .title {
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 2px; }
      .content_page .dw_box .download_box .right_side .link {
        color: white;
        font-size: 16px;
        line-height: normal; }
  .content_page .dw_box .logo_promo {
    margin-bottom: 30px; }
    .content_page .dw_box .logo_promo .little_title {
      font-size: 10px;
      line-height: normal;
      margin-bottom: 5px; }
    .content_page .dw_box .logo_promo figure img {
      max-height: 96px; }
  .content_page .text_presentation p {
    margin-bottom: 28px; }
  .content_page .reset_height {
    min-height: 0; }
  .content_page .list_striped .bg_grey:nth-of-type(odd) {
    background-color: #fafafa; }
  .content_page .list_striped .bg_grey .item:not(:first-child) {
    text-align: center;
    justify-content: center; }
  .content_page .list_striped .item_dash_title {
    font-size: 14px;
    font-weight: 600;
    line-height: normal; }
  .content_page .list_striped .item {
    border: 0;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0;
    padding: 10px 20px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center; }
    .content_page .list_striped .item a {
      color: #666666;
      text-decoration: underline; }
      .content_page .list_striped .item a:hover {
        color: #62cb32; }
    .content_page .list_striped .item .txt_dgb {
      color: #34495e; }
  .content_page .list_striped .itm_dash {
    font-size: 12px;
    line-height: normal;
    padding: 10px 15px; }
    .content_page .list_striped .itm_dash .btn {
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
      height: 28px;
      margin-right: 20px;
      min-width: auto; }
      .content_page .list_striped .itm_dash .btn:last-child {
        margin-right: 0; }
    .content_page .list_striped .itm_dash .btn-danger:hover {
      color: #e74c3c; }
    .content_page .list_striped .itm_dash .btn-success:hover {
      color: #62cb32; }
  .content_page .list_striped .filter_input {
    margin-bottom: 10px; }
    .content_page .list_striped .filter_input label {
      font-weight: 700;
      margin-right: 10px; }
    .content_page .list_striped .filter_input .form-control {
      min-width: 0;
      width: 410px; }
      .content_page .list_striped .filter_input .form-control:hover, .content_page .list_striped .filter_input .form-control:focus {
        box-shadow: none;
        border-color: #e67e22; }
      .content_page .list_striped .filter_input .form-control::-webkit-input-placeholder {
        font-size: 16px;
        color: #666666;
        opacity: 0.5; }
      .content_page .list_striped .filter_input .form-control:-ms-input-placeholder {
        font-size: 16px;
        color: #666666;
        opacity: 0.5; }
      .content_page .list_striped .filter_input .form-control::placeholder {
        font-size: 16px;
        color: #666666;
        opacity: 0.5; }
  .content_page .list_striped .title_table .item {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    justify-content: center; }
  .content_page .list_striped .table th, .content_page .list_striped .table td {
    border: 0;
    color: #666666; }
  .content_page .list_striped .table th {
    font-size: 14px;
    font-weight: 600;
    line-height: normal; }
    .content_page .list_striped .table th:last-child {
      text-align: center;
      width: 10% !important; }
  .content_page .list_striped .table td {
    font-size: 12px;
    line-height: normal; }
    .content_page .list_striped .table td a.txt_dgb {
      color: #34495e; }
    .content_page .list_striped .table td:last-child {
      text-align: center; }
  .content_page .list_striped .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa; }
  .content_page .list_striped div.dataTables_wrapper div.dataTables_info {
    font-size: 12px;
    line-height: normal;
    padding: 0px 10px;
    padding-top: 0.85em;
    white-space: nowrap; }
  .content_page .list_striped .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #9b59b6;
    border-color: #9b59b6; }
  .content_page .list_striped .page-link {
    color: #9b59b6;
    font-size: 12px;
    line-height: normal; }
  .content_page .list_striped .dataTables_paginate {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end; }
  .content_page .boton_br {
    border-radius: 8px !important;
    padding: 40px 22px; }
    .content_page .boton_br .btn {
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      height: 50px;
      border-radius: 4px;
      margin: 0 auto;
      min-width: 331px;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      align-items: center;
      -webkit-align-items: center;
      align-content: center;
      -webkit-align-content: center;
      justify-content: center;
      -webkit-justify-content: center; }
      .content_page .boton_br .btn [class^="icon-"], .content_page .boton_br .btn [class*=" icon-"] {
        font-size: 1.6em; }
  .content_page .list_items_filter .cont_checkbox {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 12px;
    line-height: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .content_page .list_items_filter .cont_checkbox input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
      .content_page .list_items_filter .cont_checkbox input:checked ~ .checkmark {
        background-color: #000; }
      .content_page .list_items_filter .cont_checkbox input:checked ~ .checkmark:after {
        display: block; }
    .content_page .list_items_filter .cont_checkbox:hover input ~ .checkmark {
      background-color: #555; }
    .content_page .list_items_filter .cont_checkbox .checkmark:after {
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .content_page .list_items_filter .checkmark {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee; }
    .content_page .list_items_filter .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
  .content_page .registration_ppal .link_reg_main {
    color: #666666; }
    .content_page .registration_ppal .link_reg_main .registration_main {
      padding: 28px 32px; }
      .content_page .registration_ppal .link_reg_main .registration_main h3 {
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 22px; }
      .content_page .registration_ppal .link_reg_main .registration_main figure {
        border-radius: 8px;
        position: relative;
        overflow: hidden; }
        .content_page .registration_ppal .link_reg_main .registration_main figure img {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }
    .content_page .registration_ppal .link_reg_main:hover {
      text-decoration: none; }
      .content_page .registration_ppal .link_reg_main:hover figure img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3); }

.registration {
  padding-bottom: 50px; }
  .registration .box_content .border_bottom_forms_fields:nth-last-child(2) {
    border-bottom: 0; }

.cancel_process {
  text-align: center;
  margin-top: 36px; }
  .cancel_process a {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    color: #c0392b;
    text-decoration: underline; }

.title_products {
  font-size: 28px;
  color: #666666;
  position: relative;
  padding: 10px 0px; }
  .title_products:after {
    content: "";
    content: "";
    position: absolute;
    right: 4px;
    top: 32px;
    background-color: #e7e7e7;
    width: 739px;
    height: 1px; }

.center_title {
  font-size: 28px;
  color: #666666;
  position: relative;
  padding: 10px 0px;
  text-align: center; }

.title_products_forms {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px; }
  .title_products_forms p {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
    margin: 0px; }
  .title_products_forms .box {
    padding: 0px;
    text-align: center; }

.box_products {
  height: 58px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  padding-left: 21px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 6px; }
  .box_products h4 {
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    color: #666666; }
  .box_products .box {
    padding: 0px;
    text-align: center; }
    .box_products .box .monto_price p {
      font-size: 16px;
      margin: 0px;
      font-weight: bold;
      color: #666666; }
    .box_products .box .select_product {
      width: 62px;
      height: 38px; }

.results {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 22px;
  padding-bottom: 29px;
  padding-top: 15px; }
  .results .box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column; }
    .results .box .title {
      font-size: 20px;
      font-weight: normal;
      line-height: 41px;
      text-align: center;
      color: #666666;
      margin: 0px; }
    .results .box .separador {
      background-color: #e7e7e7;
      margin: 20px;
      width: 183px;
      height: 1px; }
    .results .box .monto {
      font-size: 28px;
      text-align: right;
      color: #666666;
      margin: 0px; }
    .results .box .total {
      font-weight: bold; }

.login {
  padding: 50px 0px; }
  .login .box_content .forms_box {
    padding-bottom: 0px; }

.breadcumbs {
  background-color: #eceeef; }
  .breadcumbs .bc_box {
    height: 30px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .breadcumbs .bc_box nav .breadcrumb {
      margin: 0;
      padding: 0; }
      .breadcumbs .bc_box nav .breadcrumb .breadcrumb-item {
        font-size: 12px;
        line-height: normal; }
        .breadcumbs .bc_box nav .breadcrumb .breadcrumb-item a {
          color: #62cb32; }
      .breadcumbs .bc_box nav .breadcrumb .breadcrumb-item.active {
        color: #666666; }
    .breadcumbs .bc_box .date_uploaded {
      font-size: 10px;
      line-height: normal; }

.sports_single_hero {
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  min-height: 160px;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
  -webkit-align-items: center;
  align-content: center;
  -webkit-align-content: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start; }

.trials .box_content {
  margin-bottom: 20px;
  min-height: 0;
  padding: 16px 20px 20px; }
  .trials .box_content .item span.font-weight-bold {
    margin-right: 32px; }
  .trials .box_content .item .btn-success {
    font-size: 12px;
    height: 28px; }
  .trials .box_content p {
    margin: 0; }

.info_bg_light_gray {
  margin-bottom: 30px; }
  .info_bg_light_gray .box_info_bg_light {
    background-color: #fafafa;
    border-radius: 8px;
    height: 61px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    -webkit-justify-content: center; }
    .info_bg_light_gray .box_info_bg_light p {
      font-size: 14px;
      font-weight: 600;
      line-height: normal;
      margin: 0; }
      .info_bg_light_gray .box_info_bg_light p a {
        color: #62cb32; }

.content_with_border {
  border-top: 1px solid #e7e7e7;
  padding: 35px 0px 65px; }
  .content_with_border:last-child {
    border-bottom: 1px solid #e7e7e7; }

.messages_post,
.list_striped_box {
  min-height: calc(100vh - 542px); }

.dashboards {
  background-color: #f1f3f6;
  padding-top: 0; }
  .dashboards .title_dash_item h4 span {
    color: #34495e;
    margin-right: 12px; }
  .dashboards .info_dash_item {
    margin: 20px 0px 0px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .dashboards .info_dash_item p .txt_bold {
      font-weight: 700;
      margin-right: 36px; }
  .dashboards .item {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 30px; }
    .dashboards .item .box_content {
      background-color: white;
      border-radius: 0; }
      .dashboards .item .box_content .column_labels ul,
      .dashboards .item .box_content .column_data ul {
        list-style: none; }
        .dashboards .item .box_content .column_labels ul li,
        .dashboards .item .box_content .column_data ul li {
          font-size: 16px;
          line-height: normal;
          margin-bottom: 5px; }
      .dashboards .item .box_content .column_data ul li {
        font-weight: 700; }
      .dashboards .item .box_content .link_box p {
        font-weight: 600;
        margin: 0; }
        .dashboards .item .box_content .link_box p a {
          color: #34495e; }
  .dashboards .sb_bttm {
    border-bottom: 0; }

.pd_mobile_cero {
  padding: 0; }

.modal .modal-lg {
  max-width: 920px;
  margin: .5rem auto; }

.modal .modal-content {
  border-radius: 0;
  border: 0;
  border-top: 4px solid #e67e22; }
  .modal .modal-content .modal-header {
    border-bottom: 1px solid #e7e7e7;
    height: 82px;
    padding: 0px 1rem;
    align-items: center;
    -webkit-align-items: center; }
    .modal .modal-content .modal-header h5 {
      font-size: 24px;
      font-weight: 600;
      line-height: normal; }
  .modal .modal-content .modal-body {
    color: #666666;
    padding: 17px 1rem; }
    .modal .modal-content .modal-body h1, .modal .modal-content .modal-body h2, .modal .modal-content .modal-body h3, .modal .modal-content .modal-body h4, .modal .modal-content .modal-body h5, .modal .modal-content .modal-body h6, .modal .modal-content .modal-body p, .modal .modal-content .modal-body small, .modal .modal-content .modal-body span {
      color: #666666; }
    .modal .modal-content .modal-body .table {
      margin-bottom: 20px; }
      .modal .modal-content .modal-body .table td {
        vertical-align: middle; }
      .modal .modal-content .modal-body .table h6 {
        margin: 0; }
      .modal .modal-content .modal-body .table .txt_info {
        font-size: 16px;
        font-weight: 400;
        line-height: normal; }
    .modal .modal-content .modal-body .table.tableSportsSingleOverlay tbody tr td {
      height: 48px;
      padding: 5px 11px; }
      .modal .modal-content .modal-body .table.tableSportsSingleOverlay tbody tr td:first-child {
        width: 182px; }
    .modal .modal-content .modal-body .reg_content {
      margin: 15px 0px; }
      .modal .modal-content .modal-body .reg_content a {
        margin-right: 3px; }
        .modal .modal-content .modal-body .reg_content a [class^="icon-"], .modal .modal-content .modal-body .reg_content a [class*=" icon-"] {
          color: #FFFFFF;
          margin-right: 3px; }
        .modal .modal-content .modal-body .reg_content a:hover [class^="icon-"], .modal .modal-content .modal-body .reg_content a:hover [class*=" icon-"] {
          color: #62cb32; }

.steps_content .stepper .item {
  position: relative; }
  .steps_content .stepper .item:not(:last-child):after {
    content: "";
    position: absolute;
    height: 3px;
    right: -42px;
    top: 21px;
    width: 88px; }
  .steps_content .stepper .item .circle {
    border: 3px solid;
    border-radius: 50%;
    display: block;
    height: 41px;
    margin: 0 auto;
    width: 41px; }
  .steps_content .stepper .item h6 {
    display: block;
    position: relative;
    margin: 10px auto 0px;
    width: 38%; }

.steps_content .stepper_violet .item:not(:last-child):after {
  background-color: #9b59b6; }

.steps_content .stepper_violet .item .circle {
  border-color: #9b59b6; }

.steps_content .stepper_violet .item .active {
  background-color: #9b59b6; }

.steps_content .stepper_green .item:not(:last-child):after {
  background-color: #62cb32; }

.steps_content .stepper_green .item .circle {
  border-color: #62cb32; }

.steps_content .stepper_green .item .active {
  background-color: #62cb32; }

@media screen and (max-width: 575px) {
  .title_products {
    font-size: 18px; }
    .title_products:after {
      top: 23px;
      width: 200px; }
  .title_products_forms p {
    font-size: 12px; }
  .box_products {
    padding-left: 0px; }
    .box_products h4 {
      font-size: 12px; }
    .box_products .box .monto_price p {
      font-size: 12px; }
    .box_products .box .select_product {
      font-size: 12px; }
  .results .box .title {
    font-size: 18px; }
  .results .box .monto {
    font-size: 22px; }
  .results .box .separador {
    margin: 15px;
    width: 130px; } }

@media screen and (max-width: 767px) {
  body {
    font-size: 14px; }
  h1 {
    font-size: 22px; }
  h2 {
    font-size: 20px; }
  h4 {
    font-size: 18px; }
  .title_internal_pages {
    min-height: 75px; }
    .title_internal_pages h1 {
      width: 100%; }
    .title_internal_pages p {
      margin-top: 5px;
      text-align: left !important;
      width: 100%; }
    .title_internal_pages .btn {
      font-size: 15px;
      height: 30px;
      border-radius: 4px;
      margin-top: 6px;
      min-width: 250px;
      display: flex; }
    .title_internal_pages .btn-arrow-title {
      height: 27px;
      margin: 0;
      bottom: -12px;
      left: 15px;
      min-width: 27px; }
  .top-menu .bg-light .navbar-nav .nav-item .access {
    padding: 8px 12px; }
  .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu {
    border: 0; }
    .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .item {
      margin-bottom: 10px; }
      .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .item:last-child {
        margin-bottom: 0; }
    .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item {
      padding: 4px 12px; }
  .top-menu .bg-light .navbar-nav .dropdown .megamenu {
    min-width: 0; }
  .top-menu .bg-light .navbar-nav .dropdown.show:before {
    bottom: auto;
    top: 38px; }
  .btn-success {
    font-size: 12.5px;
    line-height: 22px;
    min-width: 0; }
  .ctn_title_home .title_home h1 {
    font-size: 16px; }
  .navbar-collapse {
    background-color: white;
    margin: 0px -16px;
    padding: 0px 20px 15px;
    z-index: 2; }
  .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content {
    bottom: 85px; }
    .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2 {
      font-size: 12px; }
  .home-slider .swiper-container .swiper-button-next:after,
  .home-slider .swiper-container .swiper-button-prev:after {
    font-size: 2em; }
  .content_page {
    padding: 25px 15px; }
    .content_page .title {
      padding: 0; }
      .content_page .title h2 {
        margin-bottom: 18px; }
    .content_page .other_sections {
      padding: 0;
      margin-bottom: 15px; }
      .content_page .other_sections .box_content {
        padding: 20px 15px; }
        .content_page .other_sections .box_content p {
          font-size: 14px; }
        .content_page .other_sections .box_content .results_box .date_left {
          width: 80px; }
          .content_page .other_sections .box_content .results_box .date_left .item {
            font-size: 10px; }
        .content_page .other_sections .box_content .results_box .info {
          width: calc(100% - 80px); }
          .content_page .other_sections .box_content .results_box .info .title {
            font-size: 16px; }
          .content_page .other_sections .box_content .results_box .info .text {
            font-size: 13px; }
            .content_page .other_sections .box_content .results_box .info .text a {
              margin-top: 6px; }
      .content_page .other_sections .logos_content {
        margin-bottom: 0px; }
        .content_page .other_sections .logos_content figure img {
          max-height: 75px;
          max-width: 95px; }
    .content_page .fb_box {
      margin-bottom: 20px; }
    .content_page .trials {
      padding: 0; }
      .content_page .trials .item {
        margin-bottom: 10px;
        text-align: center !important; }
        .content_page .trials .item .btn-success {
          line-height: 14px;
          margin: 0 auto; }
    .content_page .box_content_clean {
      padding: 20px 20px !important; }
    .content_page .box_content {
      padding: 25px 20px; }
      .content_page .box_content ul.list_inside_box_content li {
        font-size: 14px; }
        .content_page .box_content ul.list_inside_box_content li .additional_info .info-icon {
          margin-right: 8px; }
        .content_page .box_content ul.list_inside_box_content li .additional_info .btn-success {
          margin-left: 5px;
          margin-right: 5px;
          min-width: 100px; }
      .content_page .box_content .border_bottom_forms_fields {
        padding-top: 10px; }
      .content_page .box_content .forms_box {
        padding: 0px 15px; }
      .content_page .box_content .btn_mobile {
        text-align: left !important; }
      .content_page .box_content .message_form_box .alert {
        border: 0;
        font-size: 12px;
        padding: 8px; }
        .content_page .box_content .message_form_box .alert .icon_info {
          font-size: 1.6em;
          margin-right: 5px; }
        .content_page .box_content .message_form_box .alert button.close {
          font-size: 1.6em; }
        .content_page .box_content .message_form_box .alert .txt_message {
          max-width: calc(100% - 44px); }
      .content_page .box_content .table_trial {
        margin-bottom: 20px; }
        .content_page .box_content .table_trial tbody td {
          width: 50%; }
      .content_page .box_content .mt-mobile-20 {
        margin-top: 20px; }
      .content_page .box_content .buttons_two_adds {
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        justify-content: center !important;
        -webkit-justify-content: center !important; }
        .content_page .box_content .buttons_two_adds .btn:first-child {
          margin-bottom: 12px; }
    .content_page .list_striped .row:first-child .item_dash_title {
      padding: 8px 4px 0px; }
      .content_page .list_striped .row:first-child .item_dash_title:first-child {
        padding-left: 10px; }
    .content_page .list_striped .bg_grey .item {
      align-items: flex-start;
      -webkit-align-items: flex-start; }
    .content_page .list_striped .bg_grey .itm_dash:last-child {
      -webkit-justify-content: center !important;
      justify-content: center !important; }
    .content_page .list_striped .bg_grey .itm_dash:not(:last-child) {
      padding: 8px 4px 0px; }
      .content_page .list_striped .bg_grey .itm_dash:not(:last-child):first-child {
        padding-left: 10px; }
    .content_page .list_striped .item_dash_title,
    .content_page .list_striped .item {
      padding: 10px 8px; }
    .content_page .list_striped .itm_dash .btn {
      min-width: calc(50% - 20px); }
    .content_page .list_striped .table th, .content_page .list_striped .table td {
      padding: 8px; }
    .content_page .list_striped .table th:last-child {
      width: 24% !important; }
    .content_page .list_striped div.dataTables_wrapper div.dataTables_info {
      text-align: center; }
    .content_page .list_striped div.dataTables_wrapper div.dataTables_paginate ul.pagination {
      margin-top: 14px;
      justify-content: center;
      -webkit-justify-content: center; }
    .content_page .list_striped .dataTables_paginate {
      justify-content: center;
      -webkit-justify-content: center; }
    .content_page .table_withot_buttons .row:first-child .item_dash_title {
      padding: 8px 10px; }
      .content_page .table_withot_buttons .row:first-child .item_dash_title:first-child {
        padding-left: 10px; }
      .content_page .table_withot_buttons .row:first-child .item_dash_title:last-child {
        display: none; }
    .content_page .table_withot_buttons .bg_grey .itm_dash:last-child {
      -webkit-justify-content: flex-start !important;
      justify-content: flex-start !important; }
    .content_page .boton_br .btn-purple {
      font-size: 18px;
      height: 42px;
      min-width: 0;
      padding: 6px 15px; }
      .content_page .boton_br .btn-purple [class^="icon-"],
      .content_page .boton_br .btn-purple [class*=" icon-"] {
        font-size: 1.2em; }
    .content_page .registration_ppal .link_reg_main {
      margin-bottom: 20px; }
      .content_page .registration_ppal .link_reg_main .registration_main h3 {
        font-size: 24px; }
  .info_bg_light_gray {
    padding: 0; }
    .info_bg_light_gray .box_info_bg_light {
      padding: 0px 15px;
      text-align: center; }
  .breadcumbs .bc_box {
    height: auto;
    min-height: 60px;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: center;
    -webkit-justify-content: center; }
    .breadcumbs .bc_box .date_uploaded,
    .breadcumbs .bc_box nav {
      width: 100%; }
    .breadcumbs .bc_box nav {
      margin-bottom: 6px; }
  .dashboards .box_content {
    padding: 20px 15px; }
    .dashboards .box_content .column_labels ul li,
    .dashboards .box_content .column_data ul li {
      font-size: 13px !important; }
  .dashboards .info_dash_item {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: stretch;
    -webkit-align-items: stretch; }
    .dashboards .info_dash_item h4, .dashboards .info_dash_item p {
      width: 100%;
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between; }
  .modal .modal-lg {
    max-width: 350px; }
  .modal .modal-content .modal-header h5 {
    font-size: 20px; }
  .modal .modal-content .modal-body .table.tableSportsSingleOverlay tbody tr td:first-child {
    width: 125px; }
  .modal .modal-content .modal-body .table.tableSportsSingleOverlay tbody tr td:last-child {
    width: calc(100% - 125px); }
  .steps_content {
    padding-top: 25px; }
    .steps_content .stepper .item:not(:last-child):after {
      right: -45px;
      top: 16px;
      width: 67px; }
    .steps_content .stepper .item h6 {
      font-size: 12px;
      width: 75%; }
    .steps_content .four_items .item:not(:last-child):after {
      right: -34px; }
    .steps_content .four_items .item .circle {
      height: 32px;
      width: 32px; }
    .steps_content .four_items .item h6 {
      font-size: 10px;
      width: 80%; }
  .mtb-15 {
    margin-top: 15px; }
  .content_page .box_content .forms_box .card_img {
    margin-top: 15px; }
  .content_page .box_content .forms_box .box_shared .col-indoors {
    padding: 0px !important; }
    .content_page .box_content .forms_box .box_shared .col-indoors .m-br {
      margin-bottom: 43px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .modal .modal-lg {
    max-width: 570px; }
  .title_products:after {
    width: 337px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px; }
  h1 {
    font-size: 32px; }
  h2 {
    font-size: 24px; }
  h4 {
    font-size: 18px; }
  .title_internal_pages {
    padding: 0; }
    .title_internal_pages .btn {
      font-size: 18px;
      height: 36px;
      border-radius: 4px;
      margin-top: 6px;
      min-width: 255px;
      display: flex; }
    .title_internal_pages .btn-arrow-title {
      height: 27px;
      margin: 0;
      min-width: 27px; }
  .top-menu .bg-light .navbar-nav {
    /*.nav-item {
          .access {
            padding: 8px 0px;
          }
        }*/ }
    .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu {
      border: 0; }
      .top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item {
        padding: 4px 12px; }
    .top-menu .bg-light .navbar-nav .dropdown.show:before {
      bottom: auto;
      top: 38px; }
  .btn-success {
    font-size: 14px;
    min-width: 0; }
  .navbar-collapse {
    background-color: white;
    margin: 0px -16px;
    padding: 0px 20px 15px;
    z-index: 2; }
  .home-slider .swiper-container .swiper-wrapper .swiper-slide .info-content h2 {
    font-size: 24px; }
  .home-slider .swiper-container .swiper-button-next:after,
  .home-slider .swiper-container .swiper-button-prev:after {
    font-size: 2em; }
  .content_page .other_sections .box_content {
    padding: 20px 15px; }
    .content_page .other_sections .box_content p {
      font-size: 14px; }
    .content_page .other_sections .box_content .results_box .date_left {
      width: 80px; }
      .content_page .other_sections .box_content .results_box .date_left .item {
        font-size: 10px; }
    .content_page .other_sections .box_content .results_box .info {
      width: calc(100% - 80px); }
      .content_page .other_sections .box_content .results_box .info .title {
        font-size: 16px; }
      .content_page .other_sections .box_content .results_box .info .text {
        font-size: 13px; }
        .content_page .other_sections .box_content .results_box .info .text a {
          margin-top: 6px; }
  .content_page .other_sections .logos_content {
    margin-bottom: 0px; }
    .content_page .other_sections .logos_content figure img {
      max-height: 75px;
      max-width: 95px; }
  .content_page .fb_box {
    margin-bottom: 20px; }
  .content_page .box_content ul.list_inside_box_content li {
    font-size: 14px; }
  .content_page .list_striped .itm_dash .btn {
    padding: 6px 10px;
    margin-right: 14px; }
  .content_page .list_striped .table th, .content_page .list_striped .table td {
    padding: 10px; }
  .content_page .list_striped .table th:last-child {
    width: 14% !important; }
  .content_page .registration_ppal .link_reg_main {
    margin-bottom: 20px; }
  .trials .box_content .item {
    padding: 0px 10px; }
    .trials .box_content .item .btn-success {
      font-size: 10px;
      padding: 6px; }
  .modal .modal-lg {
    max-width: 750px; }
  .steps_content .stepper .item h6 {
    width: 52%; }
  .title_products:after {
    width: 390px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .top-menu .bg-light {
    padding: 8px 0px; }
  .content_page .box_content .message_form_box .alert {
    font-size: 15px;
    padding: 12px; }
    .content_page .box_content .message_form_box .alert .icon_info {
      margin-right: 8px; }
  .content_page .registration_ppal .link_reg_main .registration_main h3 {
    font-size: 24px; }
  .title_products:after {
    width: 590px; } }

@media screen and (min-width: 992px) {
  .title_internal_pages {
    padding: 0; } }
