*{
	transition: all 0.2s;
}

/* FONT WEIGHTS */

.text-light{
	font-weight: 300!important;
}
.text-normal{
	font-weight: 400!important;
}
.text-medium{
	font-weight: 500!important;
}
.text-bold{
	font-weight: 600!important;
}
.text-heavy{
	font-weight: 700!important;
}

/**/

.container .wp-block-columns{
	padding-right: -15px;
	padding-left: -15px;
}
.container .row .title_internal_pages{
	padding: 0px 15px;
}
.top-menu .bg-light .navbar-nav .dropdown .megamenu{
	min-width: 0px;
	padding: 0.5rem 0px;
}
.top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item{
	padding: 0.75rem 1.5rem;
	margin: 0px;
}
.top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item:active,
.top-menu .bg-light .navbar-nav .dropdown .dropdown-menu .dropdown-item.active{
	background-color: #62cb32;
	color: #FFF;
}
.searchandfilter ul li[data-sf-field-type="post_meta"]{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
	border-top: 4px solid #e67e22;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.16);
	margin: 1rem 0px;
	padding-top: 0px;
}
.searchandfilter ul li[data-sf-field-type="post_meta"] h4{
	padding: 1rem;
}
.searchandfilter ul li[data-sf-field-type="post_meta"] ul li{
	padding: 0.75rem 1rem;
}
li[data-sf-field-type="search"] label{
	width: 100%;
}
li[data-sf-field-type="search"] input{
	border-radius: 4px;
	border: 1px solid #CCC;
	font-size: 14px;	
	padding: 0.5rem;
	width: 100%;
}
li[data-sf-field-type="search"] input:focus{
	outline: none;
	border: 1px solid #AAA;
}
.searchandfilter ul li[data-sf-field-type="post_meta"] ul li label{
	font-size: 14px;
}
.searchandfilter ul li[data-sf-field-type="post_meta"] ul li input[type=checkbox]{
	position: relative;
}
.searchandfilter ul li[data-sf-field-type="post_meta"] ul li input[type=checkbox]:before{
	position: absolute;
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	font-family: 'tannerIconSet';
	display: inline-block;
	content:"\e9ee";
	letter-spacing: 10px;
}
.searchandfilter ul li[data-sf-field-type="post_meta"] ul li input[type=checkbox]:checked:before{
	font-family: 'tannerIconSet';
	display: inline-block;
	content:"\e9eb";
	letter-spacing: 5px;
}
.btn-back{
  border-radius: 4px;
  height: 27px;
  width: 27px;
}
.btn-back [class^="icon-"],
.btn-back [class*=" icon-"]{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn-green{
  color: #fff;
  background-color: #62cb32;
  border-color: #62cb32; 
}
.btn-green:hover {
	background-color: white;
	border-color: #62cb32;
	color: #62cb32; 
}
.btn-purple{
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6; 
}
.btn-purple:hover {
	background-color: white;
	border-color: #9b59b6;
	color:#9b59b6; 
}
.title_internal_pages .btn-green:hover [class^="icon-"],
.title_internal_pages .btn-green:hover [class*=" icon-"] {
    color: #62cb32;
}
.check-right{
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0px;
    transition: all 0.5s;
}
.check-right:before{
	background-color: #FFFFFF;
	content:"\e9ee";
	display: inline-block;
	font-family: 'tannerIconSet';
	font-size: 18px;
	height: 100%;
	line-height: 16px;
	position: absolute;
	width: 100%;
}
.check-right:checked:before{	
	color: #62cb32;
	content:"\e9eb";
	display: inline-block;
	font-family: 'tannerIconSet';
}
.green-link{
	color: #62cb32;
	text-decoration: underline;	
	font-weight: 400;
}
.cancel-process{
  color: #c0392b;
  font-size: 12px;
  text-decoration: underline;
  transition: all 0.2s;
}
.lg-green{
	font-size: 22px;
	height: auto;
	line-height: 1;
	width: auto;
}
.steps_content .four_items .item h6{
	width: auto!important;
}
.btn .icon-chevron-left{
	margin-right: 10px;
}
.eway{
/*	max-width: 150px;*/
}
.grey-link{
	color: #666;
}
.grey-link:hover{
	color: #62cb32;
}
.modal-content{
	border-bottom-left-radius: 8px!important;
	border-bottom-right-radius: 8px!important;	
}
.btn-auto{
	min-width: 1px!important;
}
.blue-link{
	color: #34495e!important;
}
.blue-link:hover{
	color: #62cb32!important;
}
.text-grey{
	color: #666!important;
}
.reg-step{
	width: 19%;
	border: 1px solid #62cb32;
}
.reg-step.complete{
	background-color: #62cb32;
	color: #FFF;
}
.reg-step:first-of-type{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.reg-step:last-of-type{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.btn-success:hover span[class^="icon-"]{
	color: #62cb32!important;
}
.modal .parent-modal{
	border-top: 4px solid #62cb32;
}

@media (max-width: 800px){

	.reg-step{
		width: 48%;
		margin: 4px 0px;
		border-radius: 8px;
	}

}


.table td, .table th{
	font-size: 14px;
}

.check-green,
.check-black,
.check-fault{
    position: relative;
    margin: 0px;
}
.check-green:before,
.check-black:before,
.check-fault:before{
	background-color: #FFFFFF;
	content:"\e9ee";
	display: inline-block;
	font-family: 'tannerIconSet';
	font-size: 18px;
	height: 100%;
	line-height: 16px;
	position: absolute;
	width: 100%;
}
.check-green:checked:before{	
	color: #62CB32;
	content:"\e9eb";
	display: inline-block;
	font-family: 'tannerIconSet';
}
.check-black:checked:before{	
	color: #000;
	content:"\e9eb";
	display: inline-block;
	font-family: 'tannerIconSet';
}
.check-fault:checked:before{	
	color: #E74C3C;
	content:"\e9eb";
	display: inline-block;
	font-family: 'tannerIconSet';
}
.table-striped tbody tr:nth-of-type(odd) .check-green:before,
.table-striped tbody tr:nth-of-type(odd) .check-black:before,
.table-striped tbody tr:nth-of-type(odd) .check-fault:before{
    background-color: #F2F2F2;
}
.inline-table th,
.inline-table td{
	display: inline-block;
}
#bs4navbar{
	display: block!important;
}

@media (max-width: 768px){

	#bs4navbar .nav-link.dropdown-toggle:after {
	    position: absolute;
	    right: 10px;
	}
	#bs4navbar .nav-link{
		border-bottom: 1px solid #CCC;
	}
	
}



