<div class='progress-msg'>Mon, 09 Mar 2020 02:02:29 +0000</div>
<div class='progress-msg'>[02:02:29] Composing titles...</div>
<div class='progress-msg'>[02:02:29] Composing excerpts...</div>
<div class='progress-msg'>[02:02:29] Composing duplicate indicators...</div>
<div class='progress-msg'>[02:02:29] Composing slugs...</div>
<div class='progress-msg'>[02:02:29] Composing menu order...</div>
<div class='progress-msg'>[02:02:29] Composing contents...</div>
<div class='progress-msg'>[02:02:29] Composing dates...</div>
<div class='progress-msg'>[02:02:29] Composing custom parameters...</div>
<div class='progress-msg'>[02:02:29] Composing URLs for attachments files...</div>
<div class='progress-msg'>[02:02:29] Composing unique keys...</div>
<div class='progress-msg'>[02:02:29] Processing posts...</div>
<div class='progress-msg'>[02:02:29] Data parsing via add-ons...</div>
<div class='progress-msg'>[02:02:29] Composing advanced custom fields...</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #1</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #2</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #3</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #4</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #5</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #6</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #7</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #8</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #9</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #10</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #11</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #12</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #13</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #14</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #15</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #16</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #17</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #18</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #19</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:29] ---</div>
<div class='progress-msg'>[02:02:29] Record #20</div>
<div class='progress-msg'>[02:02:29] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:29] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:29] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:29] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:29] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:33] ---</div>
<div class='progress-msg'>[02:02:33] Record #21</div>
<div class='progress-msg'>[02:02:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:33] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:33] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:33] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:33] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:33] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:33] ---</div>
<div class='progress-msg'>[02:02:33] Record #22</div>
<div class='progress-msg'>[02:02:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:33] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:33] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:33] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:33] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:33] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:34] ---</div>
<div class='progress-msg'>[02:02:34] Record #23</div>
<div class='progress-msg'>[02:02:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:34] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:34] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:34] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:34] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:34] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:34] ---</div>
<div class='progress-msg'>[02:02:34] Record #24</div>
<div class='progress-msg'>[02:02:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:02:34] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:34] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[02:02:34] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[02:02:34] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[02:02:34] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[02:02:34] Cleaning temporary data...</div>
