<div class='progress-msg'>Sun, 08 Mar 2020 23:29:48 +0000</div>
<div class='progress-msg'>[23:29:48] Composing titles...</div>
<div class='progress-msg'>[23:29:48] Composing excerpts...</div>
<div class='progress-msg'>[23:29:48] Composing duplicate indicators...</div>
<div class='progress-msg'>[23:29:48] Composing slugs...</div>
<div class='progress-msg'>[23:29:48] Composing menu order...</div>
<div class='progress-msg'>[23:29:48] Composing contents...</div>
<div class='progress-msg'>[23:29:48] Composing dates...</div>
<div class='progress-msg'>[23:29:48] Composing custom parameters...</div>
<div class='progress-msg'>[23:29:48] Composing URLs for attachments files...</div>
<div class='progress-msg'>[23:29:48] Composing unique keys...</div>
<div class='progress-msg'>[23:29:48] Processing posts...</div>
<div class='progress-msg'>[23:29:48] Data parsing via add-ons...</div>
<div class='progress-msg'>[23:29:48] Composing advanced custom fields...</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #1</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Luke Peek`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Luke Peek`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8380`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Luke Peek`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #2</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `DIya Shah`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `DIya Shah`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8381`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `DIya Shah`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #3</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Eliza Perez`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Eliza Perez`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8382`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Eliza Perez`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #4</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Ada Ciaccia`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Ada Ciaccia`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8383`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Ada Ciaccia`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #5</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `ella hogg`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `ella hogg`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8384`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `ella hogg`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #6</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Alessia Montefiore-Gardner`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Alessia Montefiore-Gardner`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8385`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Alessia Montefiore-Gardner`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #7</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Aaron Lourded`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Aaron Lourded`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8386`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Aaron Lourded`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #8</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Aidan Lourdes`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Aidan Lourdes`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8387`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Aidan Lourdes`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #9</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `AARUSH MAHAJAN`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `AARUSH MAHAJAN`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8388`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `AARUSH MAHAJAN`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #10</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Isabelle Le Souef`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Isabelle Le Souef`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8389`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Isabelle Le Souef`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #11</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Patrick Le Souef`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Patrick Le Souef`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8390`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Patrick Le Souef`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #12</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Charlotte Le Souef`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Charlotte Le Souef`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8391`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Charlotte Le Souef`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #13</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Riley Barker`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Riley Barker`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8392`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Riley Barker`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #14</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Eden Squire`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Eden Squire`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8393`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Eden Squire`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #15</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Catherine Diedricks`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Catherine Diedricks`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8394`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Catherine Diedricks`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #16</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Heidi Pearson`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Heidi Pearson`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8395`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Heidi Pearson`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:48] ---</div>
<div class='progress-msg'>[23:29:48] Record #17</div>
<div class='progress-msg'>[23:29:48] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:48] Combine all data for post `Guillermo Fuentes`...</div>
<div class='progress-msg'>[23:29:48] Find corresponding article among previously imported for post `Guillermo Fuentes`...</div>
<div class='progress-msg'>[23:29:48] Duplicate post wasn't found with unique key `8396`...</div>
<div class='progress-msg'>[23:29:48] Applying filter `pmxi_article_data` for `Guillermo Fuentes`</div>
<div class='progress-msg'>[23:29:48] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:49] ---</div>
<div class='progress-msg'>[23:29:49] Record #18</div>
<div class='progress-msg'>[23:29:49] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:29:49] Combine all data for post `Leensaa Jarso`...</div>
<div class='progress-msg'>[23:29:49] Find corresponding article among previously imported for post `Leensaa Jarso`...</div>
<div class='progress-msg'>[23:29:49] Duplicate post wasn't found with unique key `8397`...</div>
<div class='progress-msg'>[23:29:49] Applying filter `pmxi_article_data` for `Leensaa Jarso`</div>
<div class='progress-msg'>[23:29:49] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[23:29:49] Cleaning temporary data...</div>
