@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

// icons fonts
@font-face {
    font-family: 'tannerIconSet';
    src:  url('../webfonts/TannerIconSet.eot');
    src:  url('../webfonts/TannerIconSet.eot') format('embedded-opentype'),
      url('../webfonts/TannerIconSet.ttf') format('truetype'),
      url('../webfonts/TannerIconSet.woff') format('woff'),
      url('../webfonts/TannerIconSet.woff2') format('woff'),
      url('../webfonts/TannerIconSet.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}