.top-menu {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.16);
  .bg-light {
    background-color: transparent !important;
    height: 69px;
    .navbar-brand {
      margin-right: 60px;
      img {
        max-height: 50px;
      }
    }
    .navbar-nav {
      .dropdown-toggle {
        &:after {
          border: 0;
          content: "\ea3d";
          font-family: 'tannerIconSet';
        }
      }
      .nav-item {
        .nav-link {
          font-size: 16px;
          font-weight: 700;
          line-height: normal;
          padding: 8px 12px;
          display: flex;
          display: -ms-flexbox;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
        }
        .access {
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          padding: 8px 14px;
          text-decoration: underline;
        }
      }
      .dropdown {
        .dropdown-menu {
          border-radius: 0;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          top: 50px;
          z-index: 2;
          .row {
            margin: 0px;
          }
          .dropdown-item {
            font-size: 12px;
            line-height: normal;
            padding: 0;
            margin-bottom: 10px;
            -webkit-transition: .3s all;
            -moz-transition: .3s all;
            -o-transition: .3s all;
            -ms-transition: .3s all;
            transition: .3s all;
            &:hover {
              background-color: transparent;
              color: $apple-green;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          .item {
            padding: 0px 8px;
          }
        }
        .megamenu {
          min-width: 600px;
          padding: 30px 25px;
        }
        .padding_ddmenu {
          padding: 30px 25px;
        }
      }
      .dropdown.show {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          height: 4px;
          width: 100%;
          background-color: $apple-green;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      .row {
        margin: 0;
        .col {
          padding: 0;
        }
      }
      margin: 0px;
      padding: 0px;
      width: 100%;
      max-width: none;
    }
  }
}