@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .title_internal_pages {
    min-height: 75px;
    h1 {
      width: 100%;
    }
    p {
      margin-top: 5px;
      text-align: left !important;
      width: 100%;
    }
    .btn {
      font-size: 15px;
      height: 30px;
      border-radius: 4px;
      margin-top: 6px;
      min-width: 250px;
      display: flex;
    }
    .btn-arrow-title {
      height: 27px;
      margin: 0;
      bottom: -12px;
      left: 15px;
      min-width: 27px;
    }
  }
  .top-menu {
    .bg-light {
      .navbar-nav {
        .nav-item {
          .access {
            padding: 8px 12px;
          }
        }
        .dropdown {
          .dropdown-menu {
            border: 0;
            .item {
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            .dropdown-item {
              padding: 4px 12px;
            }
          }
          .megamenu {
            min-width: 0;
          }
        }
        .dropdown.show {
          &:before {
            bottom: auto;
            top: 38px;
          }
        }
      }
    }
  }
  .btn-success {
    font-size: 12.5px;
    line-height: 22px;
    min-width: 0;
  }
  .ctn_title_home {
    .title_home {
      h1 {
        font-size: 16px;
      }
    }
  }
  .navbar-collapse {
    background-color: white;
    margin: 0px -16px;
    padding: 0px 20px 15px;
    z-index: 2;
  }
  .home-slider {
    .swiper-container { 
      .swiper-wrapper {
        .swiper-slide {
          .info-content {
            bottom: 85px;
            h2 {
              font-size: 12px;
            }
          }
        }
      }
      .swiper-button-next, 
      .swiper-button-prev {
        &:after {
          font-size: 2em;
        }
      }
    }
  }
  .content_page {
    padding: 25px 15px;
    .title {
      padding: 0;
      h2 {
        margin-bottom: 18px;
      }
    }
    .other_sections {
      padding: 0;
      margin-bottom: 15px;
      .box_content {
        padding: 20px 15px;
        p {
          font-size: 14px;
        }
        .results_box {
          .date_left {
            width: 80px;
            .item {
              font-size: 10px;
            }
          }
          .info {
            width: calc(100% - 80px);
            .title {
              font-size: 16px;
            }
            .text {
              font-size: 13px;
              a {
                margin-top: 6px;
              }
            }
          }
        }
      }
      .logos_content {
        margin-bottom: 0px;
        figure {
          img {
            max-height: 75px;
            max-width: 95px;
          }
        }
      }
    }
    .fb_box {
      margin-bottom: 20px;
    }
    .trials {
      padding: 0;
      .item {
        margin-bottom: 10px;
        text-align: center !important;
        .btn-success {
          line-height: 14px;
          margin: 0 auto;
        }
      }
    }
    .box_content_clean {
      padding: 20px 20px !important;
    }
    .box_content {
      padding: 25px 20px;
      ul.list_inside_box_content {
        li {
          font-size: 14px;
          .additional_info {
            .info-icon {
              margin-right: 8px;
            }
            .btn-success {
              margin-left: 5px;
              margin-right: 5px;
              min-width: 100px;
            }
          }
        }
      }
      .border_bottom_forms_fields {
        padding-top: 10px;
      }
      .forms_box {
        padding: 0px 15px;
      }
      .btn_mobile {
        text-align: left !important;
      }
      .message_form_box {
        .alert {
          border: 0;
          font-size: 12px;
          padding: 8px;
          .icon_info {
            font-size: 1.6em;
            margin-right: 5px;
          }
          button.close {
            font-size: 1.6em;
          }
          .txt_message {
            max-width: calc(100% - 44px);
          }
        }
      }
      .table_trial {
        margin-bottom: 20px;
        tbody {
          td {
            width: 50%;
          }
        }
      }
      .mt-mobile-20 {
        margin-top: 20px;
      }
      .buttons_two_adds {
        flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        justify-content: center !important;
        -webkit-justify-content: center !important;
        .btn {
          &:first-child {
            margin-bottom: 12px;
          }
        }
      }
    }
    .list_striped {
      .row {
        &:first-child {
          .item_dash_title {
            padding: 8px 4px 0px;
            &:first-child {
              padding-left:10px;
            }
          }
        }
      }
      .bg_grey {
        .item {
          align-items: flex-start;
          -webkit-align-items: flex-start;
        }
        .itm_dash {
          &:last-child {
            -webkit-justify-content: center !important;
            justify-content: center !important;
          }
          &:not(:last-child) {
            padding: 8px 4px 0px;
            &:first-child {
              padding-left:10px;
            }
          }
        }
      }
      .item_dash_title,
      .item {
        padding: 10px 8px;
      }
      .itm_dash {
        .btn {
          min-width: calc(50% - 20px);
        }
      }
      .table {
        th, td {
          padding: 8px;
        }
        th {
          &:last-child {
            width: 24% !important;
          }
        }
      }
      div.dataTables_wrapper div.dataTables_info {
        text-align: center;
      }
      div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        margin-top: 14px;
        justify-content: center;
        -webkit-justify-content: center;
      }
      .dataTables_paginate {
        justify-content: center;
        -webkit-justify-content: center;
      }
    }
    .table_withot_buttons {
      .row {
        &:first-child {
          .item_dash_title {
            padding: 8px 10px;
            &:first-child {
              padding-left:10px;
            }
            &:last-child {
              display: none;
            }
          }
        }
      }
      .bg_grey {
        .itm_dash {
          &:last-child {
            -webkit-justify-content: flex-start !important;
            justify-content: flex-start !important;
          }
        }
      }
    }
    .boton_br {
      .btn-purple {
        font-size: 18px;
        height: 42px;
        min-width: 0;
        padding: 6px 15px;
        [class^="icon-"], 
        [class*=" icon-"] {
          font-size: 1.2em;
        }
      }
    }
    .registration_ppal {
      .link_reg_main {
        margin-bottom: 20px;
        .registration_main {
          h3 {
            font-size: 24px;
          }
        }
      }
    }
  }
  .info_bg_light_gray {
    padding: 0;
    .box_info_bg_light {
      padding: 0px 15px;
      text-align: center;
    }
  }
  .breadcumbs {
    .bc_box {
      height: auto;
      min-height: 60px;
      flex-flow: column wrap;
      -webkit-flex-flow: column wrap;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      justify-content: center;
      -webkit-justify-content: center;
      .date_uploaded,
      nav {
        width: 100%;
      }
      nav {
        margin-bottom: 6px;
      }
    }
  }
  .dashboards {
    .box_content {
      padding: 20px 15px;
      .column_labels,
      .column_data {
        ul {
          li {
            font-size: 13px !important;
          }
        }
      }
    }
    .info_dash_item {
      flex-direction: column;
      -webkit-flex-direction: column;
      align-items: stretch;
      -webkit-align-items: stretch;
      h4, p {
        width: 100%;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
      }
    }
  }
  .modal {
    .modal-lg {
      max-width: 350px;
    }
    .modal-content {
      .modal-header {
        h5 {
          font-size: 20px;
        }
      }
      .modal-body {
        .table.tableSportsSingleOverlay {
          tbody {
            tr {
              td {
                &:first-child {
                  width: 125px;
                }
                &:last-child {
                  width: calc(100% - 125px);
                }
              }
            }
          }
        }
      }
    }
  }
  .steps_content {
    padding-top: 25px;
    .stepper {
      .item {
        &:not(:last-child) {
          &:after {
            right: -45px;
            top: 16px;
            width: 67px;
          }
        }
        h6 {
          font-size: 12px;
          width: 75%;
        }
      }
    }
    .four_items {
      .item {
        &:not(:last-child) {
          &:after {
            right: -34px;
          }
        }
        .circle {
          height: 32px;
          width: 32px;
        }
        h6 {
          font-size: 10px;
          width: 80%;
        }
      }
    }
  }
  .mtb-15 {
    margin-top: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .modal {
    .modal-lg {
      max-width: 570px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  .title_internal_pages {
    padding: 0;
    .btn {
      font-size: 18px;
      height: 36px;
      border-radius: 4px;
      margin-top: 6px;
      min-width: 255px;
      display: flex;
    }
    .btn-arrow-title {
      height: 27px;
      margin: 0;
      min-width: 27px;
    }
  }
  .top-menu {
    .bg-light {
      .navbar-nav {
        /*.nav-item {
          .access {
            padding: 8px 0px;
          }
        }*/
        .dropdown {
          .dropdown-menu {
            border: 0;
            .dropdown-item {
              padding: 4px 12px;
            }
          }
        }
        .dropdown.show {
          &:before {
            bottom: auto;
            top: 38px;
          }
        }
      }
    }
  }
  .btn-success {
    font-size: 14px;
    min-width: 0;
  }
  .navbar-collapse {
    background-color: white;
    margin: 0px -16px;
    padding: 0px 20px 15px;
    z-index: 2;
  }
  .home-slider {
    .swiper-container { 
      .swiper-wrapper {
        .swiper-slide {
          .info-content {
            h2 {
              font-size: 24px;
            }
          }
        }
      }
      .swiper-button-next, 
      .swiper-button-prev {
        &:after {
          font-size: 2em;
        }
      }
    }
  }
  .content_page {
    .other_sections {
      .box_content {
        padding: 20px 15px;
        p {
          font-size: 14px;
        }
        .results_box {
          .date_left {
            width: 80px;
            .item {
              font-size: 10px;
            }
          }
          .info {
            width: calc(100% - 80px);
            .title {
              font-size: 16px;
            }
            .text {
              font-size: 13px;
              a {
                margin-top: 6px;
              }
            }
          }
        }
      }
      .logos_content {
        margin-bottom: 0px;
        figure {
          img {
            max-height: 75px;
            max-width: 95px;
          }
        }
      }
    }
    .fb_box {
      margin-bottom: 20px;
    }
    .box_content {
      ul.list_inside_box_content {
        li {
          font-size: 14px;
        }
      }
    }
    .list_striped {
      .itm_dash {
        .btn {
          padding: 6px 10px;
          margin-right: 14px;
        }
      }
      .table {
        th, td {
          padding: 10px;
        }
        th {
          &:last-child {
            width: 14% !important;
          }
        }
      }
    }
    .registration_ppal {
      .link_reg_main {
        margin-bottom: 20px;
      }
    }
  }
  .trials {
    .box_content {
      .item {
        padding: 0px 10px;
        .btn-success {
          font-size: 10px;
          padding: 6px;
        }
      }
    }
  }
  .modal {
    .modal-lg {
      max-width: 750px;
    }
  }
  .steps_content {
    .stepper {
      .item {
        h6 {
          width: 52%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .top-menu {
    .bg-light {
      padding: 8px 0px;
    }
  }
  .content_page {
    .box_content {
      .message_form_box {
        .alert {
          font-size: 15px;
          padding: 12px;
          .icon_info {
            margin-right: 8px;
          }
        }
      }
    }
    .registration_ppal {
      .link_reg_main {
        .registration_main {
          h3 {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .title_internal_pages {
    padding: 0;
  }
}