$dark-grey-blue: #34495e;
$deep-lavender: #9b59b6;
$dark-sky-blue: #3498db;
$apple-green: #62cb32;
$brick: #c0392b;
$pale-red: #e74c3c;
$dull-orange: #e67e22;
$amber: #ffb607;
$very-light-pink: #dadada;
$black: #000000;
$brownish-grey: #666666;
$white: #ffffff;
$very-light-pink-two: #e5e5e5;
$brown-grey: #adadad;
$brown-grey-two: #979797;
$white-two: #fdfdfd;
$white-three: #fafafa;
$dark-lime-green: #79b900;
$sunflower-yellow: #ffd900;
$salmon: #ff6666;
$bg_breadcumb: #eceeef;
$gray_borders: #e7e7e7;
$body_dash_color: #f1f3f6;