<div class='progress-msg'>Mon, 09 Mar 2020 01:56:53 +0000</div>
<div class='progress-msg'>[01:56:53] Composing titles...</div>
<div class='progress-msg'>[01:56:53] Composing excerpts...</div>
<div class='progress-msg'>[01:56:53] Composing duplicate indicators...</div>
<div class='progress-msg'>[01:56:53] Composing slugs...</div>
<div class='progress-msg'>[01:56:53] Composing menu order...</div>
<div class='progress-msg'>[01:56:53] Composing contents...</div>
<div class='progress-msg'>[01:56:53] Composing dates...</div>
<div class='progress-msg'>[01:56:53] Composing custom parameters...</div>
<div class='progress-msg'>[01:56:53] Composing URLs for attachments files...</div>
<div class='progress-msg'>[01:56:53] Composing unique keys...</div>
<div class='progress-msg'>[01:56:53] Processing posts...</div>
<div class='progress-msg'>[01:56:53] Data parsing via add-ons...</div>
<div class='progress-msg'>[01:56:53] Composing advanced custom fields...</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #1</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #2</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #3</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #4</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #5</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #6</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #7</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #8</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #9</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #10</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #11</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #12</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #13</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #14</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:53] ---</div>
<div class='progress-msg'>[01:56:53] Record #15</div>
<div class='progress-msg'>[01:56:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:53] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:53] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:53] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:53] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:53] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:53] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:54] ---</div>
<div class='progress-msg'>[01:56:54] Record #16</div>
<div class='progress-msg'>[01:56:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:54] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:54] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:54] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:54] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:54] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:54] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:54] ---</div>
<div class='progress-msg'>[01:56:54] Record #17</div>
<div class='progress-msg'>[01:56:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:54] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:54] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:54] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:54] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:54] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:54] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:54] ---</div>
<div class='progress-msg'>[01:56:54] Record #18</div>
<div class='progress-msg'>[01:56:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:54] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:54] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:54] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:54] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:54] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:54] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:54] ---</div>
<div class='progress-msg'>[01:56:54] Record #19</div>
<div class='progress-msg'>[01:56:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:54] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:54] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:54] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:54] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:54] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:54] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:54] ---</div>
<div class='progress-msg'>[01:56:54] Record #20</div>
<div class='progress-msg'>[01:56:54] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:54] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:54] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:54] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:54] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:54] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:54] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:58] ---</div>
<div class='progress-msg'>[01:56:58] Record #21</div>
<div class='progress-msg'>[01:56:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:58] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:58] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:58] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:58] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:58] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:58] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:58] ---</div>
<div class='progress-msg'>[01:56:58] Record #22</div>
<div class='progress-msg'>[01:56:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:58] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:58] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:58] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:58] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:58] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:58] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:58] ---</div>
<div class='progress-msg'>[01:56:58] Record #23</div>
<div class='progress-msg'>[01:56:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:58] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:58] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:58] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:58] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:58] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:58] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:58] ---</div>
<div class='progress-msg'>[01:56:58] Record #24</div>
<div class='progress-msg'>[01:56:58] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:56:58] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:56:58] Combine all data for post ``...</div>
<div class='progress-msg'>[01:56:58] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:56:58] Duplicate post wasn't found with unique key `318`...</div>
<div class='progress-msg'>[01:56:58] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:56:58] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:56:59] Cleaning temporary data...</div>
