<div class='progress-msg'>Mon, 24 Feb 2020 08:56:11 +0000</div>
<div class='progress-msg'>[08:56:11] Composing titles...</div>
<div class='progress-msg'>[08:56:11] Composing excerpts...</div>
<div class='progress-msg'>[08:56:11] Composing duplicate indicators...</div>
<div class='progress-msg'>[08:56:11] Composing authors...</div>
<div class='progress-msg'>[08:56:11] Composing slugs...</div>
<div class='progress-msg'>[08:56:11] Composing menu order...</div>
<div class='progress-msg'>[08:56:11] Composing contents...</div>
<div class='progress-msg'>[08:56:11] Composing dates...</div>
<div class='progress-msg'>[08:56:11] Composing custom parameters...</div>
<div class='progress-msg'>[08:56:11] Composing URLs for images...</div>
<div class='progress-msg'>[08:56:11] Composing URLs for attachments files...</div>
<div class='progress-msg'>[08:56:11] Composing unique keys...</div>
<div class='progress-msg'>[08:56:11] Processing posts...</div>
<div class='progress-msg'>[08:56:11] Data parsing via add-ons...</div>
<div class='progress-msg'>[08:56:11] Composing advanced custom fields...</div>
<div class='progress-msg'>[08:56:11] ---</div>
<div class='progress-msg'>[08:56:11] Record #1</div>
<div class='progress-msg'>[08:56:11] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[08:56:11] Combine all data for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[08:56:11] Find corresponding article among previously imported for post `ACT 16&U Boys Hockey`...</div>
<div class='progress-msg'>[08:56:11] Duplicate post was found for post ACT 16&U Boys Hockey with unique key `318`...</div>
<div class='progress-msg'>[08:56:11] Deleting attachments for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[08:56:11] Deleting images for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[08:56:11] Applying filter `pmxi_article_data` for `ACT 16&U Boys Hockey`</div>
<div class='progress-msg'>[08:56:11] <b>UPDATING</b> `ACT 16&U Boys Hockey` `Teams`</div>
<div class='progress-msg'>[08:56:11] Associate post `ACT 16&U Boys Hockey` with current import ...</div>
<div class='progress-msg'>[08:56:11] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[08:56:11] - Importing field `trial_information`</div>
<div class='progress-msg'>[08:56:11] - Importing field `year`</div>
<div class='progress-msg'>[08:56:11] - Importing field `sport`</div>
<div class='progress-msg'>[08:56:11] - Importing field `age`</div>
<div class='progress-msg'>[08:56:11] - Importing field `gender`</div>
<div class='progress-msg'>[08:56:11] - Importing field `date_birth_restriction_from`</div>
<div class='progress-msg'>[08:56:11] - Importing field `date_birth_restriction_to`</div>
<div class='progress-msg'>[08:56:11] - Importing field `date_of_trial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `eligibility`</div>
<div class='progress-msg'>[08:56:11] - Importing field `championship_date`</div>
<div class='progress-msg'>[08:56:11] - Importing field `championship_venue`</div>
<div class='progress-msg'>[08:56:11] - Importing field `product_set`</div>
<div class='progress-msg'>[08:56:11] - Importing field `venue`</div>
<div class='progress-msg'>[08:56:11] - Importing field ``</div>
<div class='progress-msg'>[08:56:11] - Importing field `prod_sets`</div>
<div class='progress-msg'>[08:56:11] - Importing field ``</div>
<div class='progress-msg'>[08:56:11] - Importing field `students`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_payment_initial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_payment_transaction`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_student`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_playing_history`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_representative_experience`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_prefered_position`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_approval_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_selection_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_print_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_image_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_0_recorded_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_payment_initial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_payment_transaction`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_student`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_playing_history`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_representative_experience`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_prefered_position`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_approval_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_selection_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_print_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_image_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_1_recorded_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_payment_initial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_payment_transaction`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_student`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_playing_history`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_representative_experience`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_prefered_position`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_approval_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_selection_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_print_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_image_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_2_recorded_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_payment_initial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_payment_transaction`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_student`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_playing_history`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_representative_experience`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_prefered_position`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_approval_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_selection_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_print_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_image_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_3_recorded_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_payment_initial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_payment_transaction`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_student`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_playing_history`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_representative_experience`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_prefered_position`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_approval_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_selection_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_print_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_image_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_4_recorded_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_payment_initial`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_payment_transaction`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_student`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_playing_history`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_representative_experience`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_prefered_position`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_approval_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_selection_status`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_print_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_image_consent`</div>
<div class='progress-msg'>[08:56:11] - Importing field `students_5_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_6_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_7_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_8_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_9_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_10_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_11_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_12_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_13_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_14_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_15_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_16_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_17_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_representative_experience`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_prefered_position`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_approval_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_selection_status`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_print_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_image_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_18_recorded_consent`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_19_payment_initial`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_19_payment_transaction`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_19_student`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_19_playing_history`</div>
<div class='progress-msg'>[08:56:12] - Importing field `students_19_representative_experience`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_19_prefered_position`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_19_approval_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_19_selection_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_19_print_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_19_image_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_19_recorded_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_payment_initial`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_payment_transaction`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_student`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_playing_history`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_representative_experience`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_prefered_position`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_approval_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_selection_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_print_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_image_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_20_recorded_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_payment_initial`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_payment_transaction`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_student`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_playing_history`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_representative_experience`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_prefered_position`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_approval_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_selection_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_print_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_image_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_21_recorded_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_payment_initial`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_payment_transaction`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_student`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_playing_history`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_representative_experience`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_prefered_position`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_approval_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_selection_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_print_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_image_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_22_recorded_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_payment_initial`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_payment_transaction`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_student`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_playing_history`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_representative_experience`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_prefered_position`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_approval_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_selection_status`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_print_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_image_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `students_23_recorded_consent`</div>
<div class='progress-msg'>[08:56:13] - Importing field `payments`</div>
<div class='progress-msg'>[08:56:13] - Importing field `fees`</div>
<div class='progress-msg'>[08:56:13] - Importing field ``</div>
<div class='progress-msg'>[08:56:13] - Importing field `results_content`</div>
<div class='progress-msg'>[08:56:13] - Importing field `result_attachments`</div>
<div class='progress-msg'>[08:56:13] - Importing field `event_photos`</div>
<div class='progress-msg'>[08:56:13] <b>IMAGES:</b></div>
<div class='progress-msg'>[08:56:13] <b>UPDATED</b> `ACT 16&U Boys Hockey` `Teams` (ID: 1308)</div>
<div class='progress-msg'>[08:56:13] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[08:56:13] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[08:56:13] Cleaning temporary data...</div>
