<div class='progress-msg'>Fri, 03 Jan 2020 23:45:33 +0000</div>
<div class='progress-msg'>[23:45:33] Composing titles...</div>
<div class='progress-msg'>[23:45:33] Composing excerpts...</div>
<div class='progress-msg'>[23:45:33] Composing duplicate indicators...</div>
<div class='progress-msg'>[23:45:33] Composing authors...</div>
<div class='progress-msg'>[23:45:33] Composing slugs...</div>
<div class='progress-msg'>[23:45:33] Composing menu order...</div>
<div class='progress-msg'>[23:45:33] Composing contents...</div>
<div class='progress-msg'>[23:45:33] Composing dates...</div>
<div class='progress-msg'>[23:45:33] Composing custom parameters...</div>
<div class='progress-msg'>[23:45:33] Composing URLs for images...</div>
<div class='progress-msg'>[23:45:33] Composing URLs for attachments files...</div>
<div class='progress-msg'>[23:45:33] Composing unique keys...</div>
<div class='progress-msg'>[23:45:33] Processing posts...</div>
<div class='progress-msg'>[23:45:33] Data parsing via add-ons...</div>
<div class='progress-msg'>[23:45:33] Composing advanced custom fields...</div>
<div class='progress-msg'>[23:45:33] ---</div>
<div class='progress-msg'>[23:45:33] Record #1</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:33] Combine all data for post `Australian Football`...</div>
<div class='progress-msg'>[23:45:33] Find corresponding article among previously imported for post `Australian Football`...</div>
<div class='progress-msg'>[23:45:33] Duplicate post wasn't found with unique key `1`...</div>
<div class='progress-msg'>[23:45:33] Applying filter `pmxi_article_data` for `Australian Football`</div>
<div class='progress-msg'>[23:45:33] <b>CREATING</b> `Australian Football` `Sports`</div>
<div class='progress-msg'>[23:45:33] Associate post `Australian Football` with current import ...</div>
<div class='progress-msg'>[23:45:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:33] <b>CREATED</b> `Australian Football` `Sports` (ID: 487)</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:33] ---</div>
<div class='progress-msg'>[23:45:33] Record #2</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:33] Combine all data for post `Baseball`...</div>
<div class='progress-msg'>[23:45:33] Find corresponding article among previously imported for post `Baseball`...</div>
<div class='progress-msg'>[23:45:33] Duplicate post wasn't found with unique key `2`...</div>
<div class='progress-msg'>[23:45:33] Applying filter `pmxi_article_data` for `Baseball`</div>
<div class='progress-msg'>[23:45:33] <b>CREATING</b> `Baseball` `Sports`</div>
<div class='progress-msg'>[23:45:33] Associate post `Baseball` with current import ...</div>
<div class='progress-msg'>[23:45:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:33] <b>CREATED</b> `Baseball` `Sports` (ID: 488)</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:33] ---</div>
<div class='progress-msg'>[23:45:33] Record #3</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:33] Combine all data for post `Basketball`...</div>
<div class='progress-msg'>[23:45:33] Find corresponding article among previously imported for post `Basketball`...</div>
<div class='progress-msg'>[23:45:33] Duplicate post wasn't found with unique key `3`...</div>
<div class='progress-msg'>[23:45:33] Applying filter `pmxi_article_data` for `Basketball`</div>
<div class='progress-msg'>[23:45:33] <b>CREATING</b> `Basketball` `Sports`</div>
<div class='progress-msg'>[23:45:33] Associate post `Basketball` with current import ...</div>
<div class='progress-msg'>[23:45:33] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:33] <b>CREATED</b> `Basketball` `Sports` (ID: 489)</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:33] ---</div>
<div class='progress-msg'>[23:45:33] Record #4</div>
<div class='progress-msg'>[23:45:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:33] Combine all data for post `Cricket`...</div>
<div class='progress-msg'>[23:45:33] Find corresponding article among previously imported for post `Cricket`...</div>
<div class='progress-msg'>[23:45:33] Duplicate post wasn't found with unique key `4`...</div>
<div class='progress-msg'>[23:45:33] Applying filter `pmxi_article_data` for `Cricket`</div>
<div class='progress-msg'>[23:45:33] <b>CREATING</b> `Cricket` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Cricket` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Cricket` `Sports` (ID: 490)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #5</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Cross Country`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Cross Country`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `5`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Cross Country`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Cross Country` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Cross Country` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Cross Country` `Sports` (ID: 491)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #6</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Diving`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Diving`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `6`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Diving`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Diving` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Diving` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Diving` `Sports` (ID: 492)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #7</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Football (Soccer)`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Football (Soccer)`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `7`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Football (Soccer)`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Football (Soccer)` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Football (Soccer)` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Football (Soccer)` `Sports` (ID: 493)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #8</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Golf`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Golf`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `8`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Golf`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Golf` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Golf` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Golf` `Sports` (ID: 494)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #9</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Hockey`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Hockey`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `9`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Hockey`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Hockey` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Hockey` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Hockey` `Sports` (ID: 495)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #10</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Netball`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Netball`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `10`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Netball`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Netball` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Netball` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Netball` `Sports` (ID: 496)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #11</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Orienteering`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Orienteering`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `11`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Orienteering`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Orienteering` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Orienteering` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Orienteering` `Sports` (ID: 497)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #12</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Rugby League`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Rugby League`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `12`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Rugby League`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Rugby League` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Rugby League` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Rugby League` `Sports` (ID: 498)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #13</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Softball`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Softball`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `13`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Softball`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Softball` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Softball` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Softball` `Sports` (ID: 499)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #14</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Swimming`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Swimming`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `14`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Swimming`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Swimming` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Swimming` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Swimming` `Sports` (ID: 500)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #15</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Table Tennis`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Table Tennis`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `15`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Table Tennis`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Table Tennis` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Table Tennis` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Table Tennis` `Sports` (ID: 501)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #16</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Tennis`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Tennis`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `16`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Tennis`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Tennis` `Sports`</div>
<div class='progress-msg'>[23:45:34] Associate post `Tennis` with current import ...</div>
<div class='progress-msg'>[23:45:34] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:34] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:34] <b>CREATED</b> `Tennis` `Sports` (ID: 502)</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:34] ---</div>
<div class='progress-msg'>[23:45:34] Record #17</div>
<div class='progress-msg'>[23:45:34] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:34] Combine all data for post `Touch Football`...</div>
<div class='progress-msg'>[23:45:34] Find corresponding article among previously imported for post `Touch Football`...</div>
<div class='progress-msg'>[23:45:34] Duplicate post wasn't found with unique key `17`...</div>
<div class='progress-msg'>[23:45:34] Applying filter `pmxi_article_data` for `Touch Football`</div>
<div class='progress-msg'>[23:45:34] <b>CREATING</b> `Touch Football` `Sports`</div>
<div class='progress-msg'>[23:45:35] Associate post `Touch Football` with current import ...</div>
<div class='progress-msg'>[23:45:35] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:35] <b>CREATED</b> `Touch Football` `Sports` (ID: 503)</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:35] ---</div>
<div class='progress-msg'>[23:45:35] Record #18</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:35] Combine all data for post `Triathlon`...</div>
<div class='progress-msg'>[23:45:35] Find corresponding article among previously imported for post `Triathlon`...</div>
<div class='progress-msg'>[23:45:35] Duplicate post wasn't found with unique key `18`...</div>
<div class='progress-msg'>[23:45:35] Applying filter `pmxi_article_data` for `Triathlon`</div>
<div class='progress-msg'>[23:45:35] <b>CREATING</b> `Triathlon` `Sports`</div>
<div class='progress-msg'>[23:45:35] Associate post `Triathlon` with current import ...</div>
<div class='progress-msg'>[23:45:35] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:35] <b>CREATED</b> `Triathlon` `Sports` (ID: 504)</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:35] ---</div>
<div class='progress-msg'>[23:45:35] Record #19</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:35] Combine all data for post `Volleyball`...</div>
<div class='progress-msg'>[23:45:35] Find corresponding article among previously imported for post `Volleyball`...</div>
<div class='progress-msg'>[23:45:35] Duplicate post wasn't found with unique key `19`...</div>
<div class='progress-msg'>[23:45:35] Applying filter `pmxi_article_data` for `Volleyball`</div>
<div class='progress-msg'>[23:45:35] <b>CREATING</b> `Volleyball` `Sports`</div>
<div class='progress-msg'>[23:45:35] Associate post `Volleyball` with current import ...</div>
<div class='progress-msg'>[23:45:35] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:35] <b>CREATED</b> `Volleyball` `Sports` (ID: 505)</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:35] ---</div>
<div class='progress-msg'>[23:45:35] Record #20</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:35] Combine all data for post `Water Polo`...</div>
<div class='progress-msg'>[23:45:35] Find corresponding article among previously imported for post `Water Polo`...</div>
<div class='progress-msg'>[23:45:35] Duplicate post wasn't found with unique key `20`...</div>
<div class='progress-msg'>[23:45:35] Applying filter `pmxi_article_data` for `Water Polo`</div>
<div class='progress-msg'>[23:45:35] <b>CREATING</b> `Water Polo` `Sports`</div>
<div class='progress-msg'>[23:45:35] Associate post `Water Polo` with current import ...</div>
<div class='progress-msg'>[23:45:35] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:35] <b>CREATED</b> `Water Polo` `Sports` (ID: 506)</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:35] ---</div>
<div class='progress-msg'>[23:45:35] Record #21</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:35] Combine all data for post `Track and Field`...</div>
<div class='progress-msg'>[23:45:35] Find corresponding article among previously imported for post `Track and Field`...</div>
<div class='progress-msg'>[23:45:35] Duplicate post wasn't found with unique key `21`...</div>
<div class='progress-msg'>[23:45:35] Applying filter `pmxi_article_data` for `Track and Field`</div>
<div class='progress-msg'>[23:45:35] <b>CREATING</b> `Track and Field` `Sports`</div>
<div class='progress-msg'>[23:45:35] Associate post `Track and Field` with current import ...</div>
<div class='progress-msg'>[23:45:35] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:35] <b>CREATED</b> `Track and Field` `Sports` (ID: 507)</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:35] ---</div>
<div class='progress-msg'>[23:45:35] Record #22</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[23:45:35] Combine all data for post `Rugby Union`...</div>
<div class='progress-msg'>[23:45:35] Find corresponding article among previously imported for post `Rugby Union`...</div>
<div class='progress-msg'>[23:45:35] Duplicate post wasn't found with unique key `24`...</div>
<div class='progress-msg'>[23:45:35] Applying filter `pmxi_article_data` for `Rugby Union`</div>
<div class='progress-msg'>[23:45:35] <b>CREATING</b> `Rugby Union` `Sports`</div>
<div class='progress-msg'>[23:45:35] Associate post `Rugby Union` with current import ...</div>
<div class='progress-msg'>[23:45:35] <strong>ACF ADD-ON:</strong></div>
<div class='progress-msg'>[23:45:35] <b>IMAGES:</b></div>
<div class='progress-msg'>[23:45:35] <b>CREATED</b> `Rugby Union` `Sports` (ID: 508)</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[23:45:35] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[23:45:35] Cleaning temporary data...</div>
