<div class='progress-msg'>Mon, 09 Mar 2020 01:54:46 +0000</div>
<div class='progress-msg'>[01:54:46] Composing titles...</div>
<div class='progress-msg'>[01:54:46] Composing excerpts...</div>
<div class='progress-msg'>[01:54:46] Composing duplicate indicators...</div>
<div class='progress-msg'>[01:54:46] Composing slugs...</div>
<div class='progress-msg'>[01:54:46] Composing menu order...</div>
<div class='progress-msg'>[01:54:46] Composing contents...</div>
<div class='progress-msg'>[01:54:46] Composing dates...</div>
<div class='progress-msg'>[01:54:46] Composing custom parameters...</div>
<div class='progress-msg'>[01:54:46] Composing URLs for attachments files...</div>
<div class='progress-msg'>[01:54:46] Composing unique keys...</div>
<div class='progress-msg'>[01:54:46] Processing posts...</div>
<div class='progress-msg'>[01:54:46] Data parsing via add-ons...</div>
<div class='progress-msg'>[01:54:46] Composing advanced custom fields...</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #1</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #2</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #3</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #4</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #5</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #6</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #7</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #8</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #9</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #10</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #11</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #12</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #13</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #14</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #15</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #16</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #17</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:46] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:46] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:46] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:46] ---</div>
<div class='progress-msg'>[01:54:46] Record #18</div>
<div class='progress-msg'>[01:54:46] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:46] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:46] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:46] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:47] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:47] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:47] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:47] ---</div>
<div class='progress-msg'>[01:54:47] Record #19</div>
<div class='progress-msg'>[01:54:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:47] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:47] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:47] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:47] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:47] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:47] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:47] ---</div>
<div class='progress-msg'>[01:54:47] Record #20</div>
<div class='progress-msg'>[01:54:47] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:47] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:47] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:47] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:47] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:47] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:47] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:51] ---</div>
<div class='progress-msg'>[01:54:51] Record #21</div>
<div class='progress-msg'>[01:54:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:51] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:51] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:51] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:51] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:51] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:51] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:51] ---</div>
<div class='progress-msg'>[01:54:51] Record #22</div>
<div class='progress-msg'>[01:54:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:51] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:51] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:51] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:51] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:51] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:51] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:51] ---</div>
<div class='progress-msg'>[01:54:51] Record #23</div>
<div class='progress-msg'>[01:54:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:51] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:51] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:51] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:51] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:51] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:51] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:51] ---</div>
<div class='progress-msg'>[01:54:51] Record #24</div>
<div class='progress-msg'>[01:54:51] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[01:54:51] <b>WARNING</b>: title is empty.</div>
<div class='progress-msg'>[01:54:51] Combine all data for post ``...</div>
<div class='progress-msg'>[01:54:51] Find corresponding article among previously imported for post ``...</div>
<div class='progress-msg'>[01:54:51] Duplicate post wasn't found with unique key `9096`...</div>
<div class='progress-msg'>[01:54:51] Applying filter `pmxi_article_data` for ``</div>
<div class='progress-msg'>[01:54:51] <b>SKIPPED</b>: The option 'Create new posts from records newly present in your file' is disabled in your import settings.</div>
<div class='progress-msg'>[01:54:51] Cleaning temporary data...</div>
